{% extends 'cmc/page.html' %}
{% block content %}
<div class='container'>
  <!-- 김상복 목사님 -->
  <article class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="{{ url_for('static', filename='common/img/recommend_ksb.jpg') }}" alt="김상복 목사" width=150/><br/>
      <p><span>김상복 목사</span><br/><span>전 세계 복음주의협회(WEA)회장</span><br/><span>현 할렐루야교회 원로목사</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9">
      <p style="line-height:1.8em">주님 오실 날을 예비하기 위해 일어나기를 소망하는 한국교회 청년, 직장인들이 2016여름청년대학생선교캠프를 통하여 한국교회의 부흥과 열방의 회복을 위해 기도하며 헌신하는 귀한 시간이 되기를 소망합니다. 올해도 변함없이 이 캠프에 성령의 역사가 일어나 한국 교회 청년직장인들의 개인 회복과 부흥이 일어나게 될 것이고, 더 나아가 여러분이 세계 복음화를 속히 이루어 가는 귀한 일꾼들로 일어서게 될 것을 확신합니다. 부디 함께하셔서 한국교회를 향한 하나님의 뜨거운 사랑의 마음을 나누고, 하나님의 나라와 복음을 위해 귀하게 쓰임 받는 [역사의 창조자]들이 되기를 바랍니다.</p>
    </div>
  </article>
  <br/>
  <!-- 김진홍 목사님 -->
  <article class="row divider">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="{{ url_for('static', filename='common/img/recommend_kjh.jpg') }}" alt="김진홍 목사" width=150/><br/>
      <p><span>김진홍 목사</span><br/><span>두레수도원 원장</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9">
      <p style="line-height:1.8em">하나님께서는 한국교회의 청년세대를 하나님의 심장을 가진 강한 주의 용사들로 세우실 것입니다. 이번 2016여름청년대학생선교캠프를 통하여 여러분이 세계선교의 리더십을 가지고 지상명령의 성취를 위해 한국교회와 열방을 섬기는 신실한 주의 청년들로 살아가길 소망합니다. 한국교회의 미래인 여러분들을 주님의 사랑으로 2016여름청년대학생선교캠프에 초대합니다.</p>
    </div>
  </article>
  <br/>
  <!-- 강승삼 목사님 -->
  <article class="row divider">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="{{ url_for('static', filename='common/img/recommend_kss.jpg') }}" alt="강승삼 목사" width=150/><br/>
      <p><span>강승삼 목사</span><br/><span>전 총신대선교대학원장</span><br/><span>KWMA 증경회장</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9">
      <p style="line-height:1.8em">선교는 교회공동체에 맡겨주신 특권으로 예수님을 믿는 모든 자에게 주어진 것입니다. 우리가 해야 할 것은 아버지의 뜻을 이루기 위해 이 땅에 오신 예수님처럼 선교를 향한 마음으로 지상명령을 이루어 가는 것입니다. 이를 위해 한국교회 성도들은 주님의 말씀을 붙잡고 일어나야 합니다. 성경적이고 역사적이며 선교적인 관점을 가지고 하나님의 나라의 회복을 위해 일어나야 합니다. 하나님께서는 교회를 통하여 하나님의 나라를 회복시키기를 원하시고, 반드시 한국교회를 사용하실 것입니다. 하나님을 사랑함으로 하나님께서 이 땅에서 맡기신 사명을 감당하기를 소망하는 한국교회의 모든 성도들을 2016여름청년대학생선교캠프에 주님의 이름으로 초청합니다.</p>
    </div>
  </article>

  <!-- 김승동 목사님 -->
  <article class="row divider">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="{{ url_for('static', filename='common/img/recommend_ksd.jpg') }}" alt="강승삼 목사" width=150/><br/>
      <p><span>김승동 목사</span><br/><span>한국교회언론회 전대표</span><br/><span>구미상모교회 담임목사</span></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9">
      <p style="line-height:1.8em">세계는 지금 전례없는 위기에 직면해 있습니다. 지구적 종교 갈등은 심화되고 있으며, 환경파괴 및 에너지 고갈의 위기로 인류 미래의 불확실성은 갈수록 증폭되고 있습니다. 또한 유례없는 세계경제 위기의 한파로 지구촌이 휘청이고 있습니다. 국내에서는 안티기독교 운동이 도를 넘어서고 있으며 한국교회는 여전히 변화에 저항하며 깨어 일어나지 못하고 있습니다. 이러한 때에 신실한 그리스도인들이 함께 일어나야 합니다. 기도하는 청년/대학생들이 마음을 모으고 한국교회의 새로운 부흥을 위해 함께 헌신해야 합니다. 지금은 함께 하나님께 나아가야 할 때입니다.한국교회를 사랑하는 여러분을 2016 선교캠프로 초청합니다.</p>
    </div>
  </article>


</div>
{% endblock content %}
