{% extends 'ws/page.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="container">
  {{ macros.render_stat(stat=stat.summary, title='요약', cols=2, first_row_cols=1)}}
  <br/>
  {{ macros.render_stat(stat=stat.persontype, title='참가유형별', param_key='persontype', cols=3)}}
  <br/>
  {{ macros.render_stat(stat=stat.area, title='지부별', param_key='area_idx')}}
  <br/>
  {{ macros.render_stat(stat=stat.group_name, title='단체별', param_key='group_idx')}}
  <br/>
  {{ macros.render_stat(stat=stat.training, title='인터콥 훈련 유형별', param_key='training', cols=3)}}
  <br/>
  {{ macros.render_stat(stat=stat.job, title='직분별', param_key='job', cols=3)}}
  <br/>
  {{ macros.render_stat(stat=stat.ages, title='연령별', cols=1)}}
</div>
{% endblock %}
