{% extends 'ws/page.html' %}

{% block content %}
<div class="container">
  <section class="page-header">
    {% if not group_yn %}
    <h2>개인 신청</h2>
    {% else %}
    <h2>멤버 신청서 작성</h2>
    {% endif %}
  </section>

  <div class="col-xs-12 col-sm-8">
		<form class="form" role="form" id="form" action="#" method="POST">
      <div class="table-responsive">
        <table class="table">
          {% if not group_yn %}
          <tr>
              <td><label for="userid">아이디</label></td>
              <td colspan="3"><input type="text" name="userid" id="userid" size="12"/><input type="button" value="중복확인" onclick="check_userid()"/><div id="email_alert"></div></td>
          </tr>

          <tr>
            <td><label for="pwd">비밀번호</label></td>
            <td colspan="3"><input type="password" name="pwd" id="pwd" size="12"/></td>
          </tr>
          <tr>
            <td><label for="pwd2">비밀번호 확인</label></td>
            <td colspan="3"><input type="password" name="pwd2" id="pwd2" size="12"/><div id="pwd_alert"></div></td>
          </tr>
          {% endif %}
          <tr>
            <td><label for="name">이름</label></td>
            <td colspan="3"><input type="text" name="name" id="name" size="12"/></td>
          </tr>
          <tr id="parents">
              <td><label for="pname"><span style="color:red">보호자 성함</span></label></td>
              <td colspan="3"><input type="text" name="pname" id="pname" size="12" /></td>
          </tr>
          {% if not group_yn %}
          <tr>
            <td><label for="area_idx">등록지부</label></td>
            <td colspan="3">
              <select name="area_idx" id="area_idx">
                <option value="">선택하세요</option>
                {% for area in area_list %}
                <option value="{{ area.idx }}">{{ area.name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          {% endif %}
          <tr>
            <td><label for="sex">성별</label></td>
            <td colspan="3">
              <input type="radio" name="sex" id="sex_m" value="M" />&nbsp;&nbsp;<label for="sex_m">남자</label>&nbsp;
              <input type="radio" name="sex" id="sex_f" value="F" />&nbsp;&nbsp;<label for="sex_f">여자</label>&nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="birthyr">생년월일</label></td>
            <td colspan="3">
              <select id="birthyr" name="birthyr">
                <option value="">년도</option>
                {% for year in date_select_list.yr_list %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
              </select>-
              <select id="birthm" name="birthm">
                <option value="">월</option>
                {% for month in date_select_list.m_list %}
                <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>-
              <select id="birthd" name="birthd">
                <option value="">일</option>
                {% for day in date_select_list.d_list %}
                <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="hp" id="label_hp">연락처</label></td>
            <td colspan="3"><select name="hp" id="hp">
              <option value="010">010</option>
              <option value="011">011</option>
              <option value="016">016</option>
              <option value="017">017</option>
              <option value="018">018</option>
              <option value="019">019</option>
              <option value="070">070</option>
            </select>
            -<input name="hp2" id="hp2" type="text" size="4"/>
            -<input name="hp3" id="hp3" type="text" size="4"/></td>
          </tr>
          <tr>
            <td><label for="church">소속교회</label></td>
            <td colspan="3"><input type="text" name="church" id="church" size="12"/></td>
          </tr>

          <tr>
              <td><label for="persontype">참가 구분</label></td>
              <td colspan="3">
                  <input type="radio" name="persontype" id="stafftype1" value="일반"/><label for="persontype1">&nbsp;&nbsp;일반</label><br/>
                  <input type="radio" name="persontype" id="persontype2" value="어린이"/><label for="persontype2">&nbsp;&nbsp;어린이</label><br/>
                  <input type="radio" name="persontype" id="persontype3" value="키즈"/><label for="persontype3">&nbsp;&nbsp;키즈</label><br/>
                  <input type="radio" name="persontype" id="persontype4" value="중보방"/><label for="persontype2">&nbsp;&nbsp;중보방</label><br/>
                  <input type="radio" name="persontype" id="persontype5" value="전일스탭"/><label for="persontype2">&nbsp;&nbsp;전일스탭(2박3일)</label><br/>
              </td>
          </tr>

          <tr id="stafftype">
              <td><label for="stafftype">스탭구분</label></td>
              <td>
                  <input type="radio" name="stafftype" id="stafftype1" checked value="식당"/><label for="stafftype1">&nbsp;&nbsp;식당</label><br/>
                  <input type="radio" name="stafftype" id="stafftype2" value="식당느헤미야"/><label for="stafftype2">&nbsp;&nbsp;식당느헤미야</label><br/>
                  <input type="radio" name="stafftype" id="stafftype3" value="내부안내"/><label for="stafftype3">&nbsp;&nbsp;내부안내</label><br/>
                  <input type="radio" name="stafftype" id="stafftype4" value="로비"/><label for="stafftype4">&nbsp;&nbsp;로비</label><br/>
                  <input type="radio" name="stafftype" id="stafftype5" value="차량"/><label for="stafftype5">&nbsp;&nbsp;차량</label><br/>
                  <input type="radio" name="stafftype" id="stafftype6" value="어린이스탭"/><label for="stafftype6">&nbsp;&nbsp;어린이스탭</label><br/>
                  <input type="radio" name="stafftype" id="stafftype7" value="키즈스탭"/><label for="stafftype7">&nbsp;&nbsp;키즈스탭</label><br/>
                  <input type="radio" name="stafftype" id="stafftype8" value="숙소"/><label for="stafftype8">&nbsp;&nbsp;숙소</label><br/>
                  <input type="radio" name="stafftype" id="stafftype9" value="기타"/><label for="stafftype9">&nbsp;&nbsp;기타<span style="color:red; font-size:10px;">(**위의 스텝에 해당되지 않는경우 남기고 싶은 말에 남겨 주세요)</span></label><br/>
              </td>
          </tr>

          <tr id="young_job">
              <td><label for="job">교회 직분</label></td>
              <td colspan="3"><select name="job" id="job">
                  <option value="">==선택하세요==</option>
                  <option value="목회자">목회자</option>
                  <option value="장로">장로</option>
                  <option value="권사">권사</option>
                  <option value="집사">집사</option>
                  <option value="성도">성도</option>
                  <option value="청년">청년</option>
              </select></td>
          </tr>

          <tr>
            <td><label for="bus_yn">단체버스 이용</label></td>
            <td colspan="3">
              <input type="radio" name="bus_yn" id="bus_y" value="1" />&nbsp;&nbsp;<label for="bus_y">예</label>&nbsp;
              <input type="radio" name="bus_yn" id="bus_n" value="0" />&nbsp;&nbsp;<label for="bus_n">아니오</label>&nbsp;
            </td>
          </tr>

          <tr>
            <td><label for="fullcamp_yn">참가형태</label></td>
            <td colspan="3">
              <input type="radio" name="fullcamp_yn" id="fullcamp_y" value="1" selected />&nbsp;&nbsp;<label for="fullcamp_y">전체참가</label>&nbsp;
              <input type="radio" name="fullcamp_yn" id="fullcamp_n" value="0" />&nbsp;&nbsp;<label for="fullcamp_n">부분참가</label>&nbsp;
            </td>
          </tr>

          <tr id="bubun">
            <td>캠프참석기간</td>
            <td colspan="3"><select name="date_of_arrival">
              <option selected value="2016-01-07">2016-01-07</option>
              <option value="2016-01-08">2016-01-08</option>
              <option value="2016-01-09">2016-01-09</option>
            </select>&nbsp;~&nbsp;
            <select name="date_of_leave">
              <option value="2016-01-07">2016-01-07</option>
              <option value="2016-01-08">2016-01-08</option>
              <option selected value="2016-01-09">2016-01-09</option>
            </select></td>
          </tr>

          <tr>
            <td><label for="newcomer_yn">선교캠프가<br/>처음이신가요?</label></td>
            <td colspan="3">
              <input type="radio" name="newcomer_yn" id="newcomer_y" value="1" />&nbsp;&nbsp;<label for="newcomer_y">예</label>&nbsp;
              <input type="radio" name="newcomer_yn" id="newcomer_n" value="0" />&nbsp;&nbsp;<label for="newcomer_n">아니오</label>&nbsp;
            </td>
          </tr>

          <tr>
            <td>인터콥 훈련여부</td>
            <td colspan="3">
              <table>
                  <tr>
                      <td><input type="checkbox" name="training" id="training1" class="membership" value="시니어비전스쿨"/> &nbsp;<label for="training1">시니어비전스쿨</label>&nbsp;&nbsp;</td>
                      <td><input type="checkbox" name="training" id="training2" class="membership" value="여성비전스쿨"/> &nbsp;<label for="training2">여성비전스쿨</label>&nbsp;&nbsp;</td>
                      <td><input type="checkbox" name="training" id="training3" class="membership" value="목회자비전스쿨"/> &nbsp;<label for="training3">목회자비전스쿨</label>&nbsp;&nbsp;</td>
                  </tr>
                  <tr>
                      <td><input type="checkbox" name="training" id="training4" class="membership" value="비전스쿨"/> &nbsp;<label for="training4">비전스쿨</label>&nbsp;&nbsp;</td>
                      <td><input type="checkbox" name="training" id="training5" class="membership" value="월드미션"/> &nbsp;<label for="training5">월드미션</label>&nbsp;&nbsp;</td>
                      <td><input type="checkbox" name="training" id="training6" class="membership" value="FO"/> &nbsp;<label for="training6">FO</label>&nbsp;&nbsp;</td>
                  </tr>
                  <tr>
                      <td><input type="checkbox" name="training" id="training7" class="membership" value="선교캠프"/> &nbsp;<label for="training7">선교캠프</label>&nbsp;&nbsp;</td>
                      <td><input type="checkbox" name="training" class="membership" id="training8" value="어린이/키즈 선교캠프"/> &nbsp;<label for="training8">어린이/키즈 선교캠프</label>&nbsp;&nbsp;</td>
                      <td><input type="checkbox" name="training" id="none" value="없음"/> &nbsp;<label for="none">없음</label>&nbsp;&nbsp;</td>
                  </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td><label for="language">통역 필요</label></td>
            <td colspan="3"><select name="language" id="language">
              <option value="필요 없음">필요 없음</option>
              <option value="영어">영어</option>
              <option value="중국어">중국어</option>
            </select></td>
          </tr>

          <tr>
            <td><label for="memo">남기고 싶은 말</label></td>
            <td colspan="3"><textarea cols="20" rows="6" name="memo" id="memo"></textarea></td>
          </tr>

          <tr>
            <td colspan="4">
              <p style="text-align:center"><input type="button" onclick="submit_form()" class="btn btn-default" value="신청 완료" /></p>
            </td>
          </tr>
        </table><!--/table-->
      </div>
      {% if group_yn %}
      <input type="hidden" name="group_idx" value="{{ group.idx }}"/>
      <input type="hidden" name="area_idx" value="{{ group.area_idx }}"/>
      {% endif %}
			<input type="hidden" name="contact" id="contact"/>
			<input type="hidden" name="birth" id="birth"/>
			<input type="hidden" name="campidx" id="campidx" value="{{ campidx }}"/>
      <input type="hidden" name="camp" id="camp" value="{{ camp }}"/>
		</form>
  </div>
</div> <!-- .container -->
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='ws/js/reg-individual.js') }}"></script>
{% endblock %}
