{% extends 'ws/page.html' %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h2>개인 신청 조회</h2>
  </div>
  <div class="col-xs-12 col-sm-6">
    <section class="well">
      <table class="table">
        <tr>
          <td>이름</td>
          <td>{{ member.name }}</td>
        </tr>

        <tr>
          <td>지부</td>
          <td>{{ area_name }}</td>
        </tr>

        <tr>
          <td>연락처</td>
          <td>{{ member.contact }}</td>
        </tr>

        <tr>
          <td>출석교회</td>
          <td>{{ member.church }}</td>
        </tr>

        <tr>
          <td>생년월일</td>
          <td>{{ member.birth }}</td>
        </tr>

        <tr>
          <td>성별</td>
          <td>{% if member.sex == 'M' %} 남 {% else %} 여 {% endif %}</td>
        </tr>

        <tr>
          <td>단체버스 이용 여부</td>
          <td>{% if member.bus_yn %} 예 {% else %} 아니오 {% endif %}</td>
        </tr>

        <tr>
          <td>선교캠프 참여 경험</td>
          <td>{% if member.newcomer_yn %} 없음 {% else %} 있음 {% endif %}</td>
        </tr>

        <tr>
          <td>전체참석 여부</td>
          <td>{% if member.fullcamp_yn %} 전체참석 {% else %} 부분참석 {% endif %}</td>
        </tr>

        <tr>
          <td>캠프 참석 기간</td>
          <td>{{ member.date_of_arrival }} ~ {{ member.date_of_leave }}</td>
        </tr>

        {% if member.persontype == '일반' %}
        <tr>
          <td>교회직분</td>
          <td>{{ member.membership.job }}</td>
        </tr>

        {% elif member.persontype == '전일스탭' %}
        <tr>
          <td>스탭구분</td>
          <td>{{ member.membership.stafftype }}</td>
        </tr>

        {% elif member.persontype == '어린이' or member.persontype == '키즈' %}
        <tr>
          <td>보호자 이름</td>
          <td>{{ member.membership.pname }}</td>
        </tr>
        {% endif %}

        <tr>
          <td>인터콥 훈련 여부</td>
          <td>
            {% for t in member.membership.training %}
              {{ t }},&nbsp;
            {% endfor %}
          </td>
        </tr>

        <tr>
          <td>통역 필요</td>
          <td>{{ member.language }}</td>
        </tr>

        <tr>
          <td>등록 날자</td>
          <td>{{ member.regdate }}</td>
        </tr>

        <tr>
          <td>남기고싶은 말</td>
          <td>{{ member.memo }}</td>
        </tr>

        <tr>
          <td colspan="2">
            <p style="text-align:center">
              <a class="btn btn-default" href="{{ url_for('.edit_individual', idx=member.idx) }}">수정</a>&nbsp;&nbsp;
              <a class="btn btn-default" href="{{ url_for('.cancel_individual', idx=member.idx) }}">신청취소</a>
              <a href="{{ url_for('.logout') }}" class="btn btn-default">로그아웃</a>
            </p>
          </td>
        </tr>
      </table>
    </section>
  </div>
</div>
{% endblock %}
