{% extends 'cbtj/page.html' %}
{% block content %}
<div class="container">
	<div class="widget col-sm-6 col-xs-12">
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/8ftCq60JmJE?wmode=transparent" frameborder="0" wmode="Opaque"></iframe>
		</div>
		<br/>
	</div> <!-- .widget -->

	<div class="widget col-sm-6 col-xs-12">
		<div class="well well-sm" style="max-width: 450px;">
			<h4 style="text-align:center">등록비 안내</h4>
			<table class="table" style="margin-bottom:0; text-align:center">
        <tbody>
	        <tr>
            <td></td>
            <td>1차마감<br>5/20</td>
            <td>2차마감<br>6/3</td>
            <td>3차마감<br>6/13</td>
            <td>캠프당일<br>6/22</td>
	        </tr>
	        <tr>
            <td>개인</td>
            <td>100,000</td>
            <td>105,000</td>
            <td>110,000</td>
            <td rowspan="2">115,000</td>
	        </tr>
	        <tr>
            <td>단체</td>
            <td>95,000</td>
            <td>100,000</td>
            <td>105,000</td>
	        </tr>
	        <tr>
            <td colspan="5"><p style="text-align:center; margin-bottom:0; font-size:12px">부분참가: 당일 37,000원 / 1박2일 62,000원 / 2박3일 87,000원</p></td>
	        </tr>
		    </tbody>
			</table>
		</div> <!-- .well -->
		<br/>
    <br/>
		<section>
			- 등록비 입금계좌 : 국민은행 763601-04-098592<br/>
			- 예금주 : 전문인국제***(청대캠프)<br/>
			* 입금자 명에 참가자의 지역과 이름 기입해 주세요. 예)서울 홍길동<br/>
		</section>
		<br/>
    <br/>
		<section>
      * 선입금 3만원 입금 후 3차 마감일(6/13) 이전에 나머지 금액을 완납하셔야 등록 완료, 선입금 3만원은 취소하더라도 환불되지 않습니다. <br/>
      * 3차 마감(6/13) 이후(14일 부터) 취소시 선입금(3만원)을 제외한 금액의 50% 환불, 당일(6/22) 취소는 환불되지 않습니다. <br/>
      * 오류입금에 의한 환불 접수는 캠프 이후 2주간, 7/6(수)까지 신청받습니다. 이후에는 어떤 경우에도 환불이 되지 않습니다. <br/>
      * 환불 접수는 historymakers_b@hanmail.net로, 이름/연락처/환불금액/계좌(은행명, 예금주)를 빠짐없이 기록하여 신청해주세요.<br/>
		</section>
		<!--  12233
		<div class="well well-sm">
			<h4>2차 청년 직장인 캠프(1.7~9) <span style="font-size:14px"><a href="{{ url_for('.camp', camp='cbtj2') }}">자세히 보기</a></span></h4>
			<table class="table" style="margin-bottom:0">
        <tbody>
	        <tr>
            <td></td>
            <td>1차마감<br>11/30</td>
            <td>2차마감<br>12/14</td>
            <td>3차마감<br>12/28</td>
						<td>4차마감<br>1/6</td>
            <td>캠프당일<br>1/7</td>
	        </tr>
	        <tr>
            <td>개인</td>
            <td>64,000</td>
            <td>68,000</td>
            <td>73,000</td>
						<td>78,000</td>
            <td>80,000</td>
	        </tr>
	        <tr>
            <td>단체</td>
						<td>61,000</td>
            <td>65,000</td>
            <td>70,000</td>
						<td>75,000</td>
            <td>77,000</td>
	        </tr>
	        <tr>
            <td colspan="6">
							<p style="text-align:center; margin-bottom:0; font-size:12px">1박2일_2(목)~3(금) 56,000원 / 1박2일_3(금)~4(토) 63,000원</p>
						</td>
	        </tr>
		    </tbody>
			</table>
		</div>-->
	</div>
	<!-- .widget -->
</div> <!-- .container -->

<div class="divider">
  <div class="container">
  	<div class="widget col-sm-12">
			<div class="page-header">
  			<h2>프로그램</h2>
			</div>
  	</div>
  	<div class="widget col-sm-6 col-xs-12">
			<h4><소그룹 모임></h4>
			<p>전국에서 모인 다양한 청년 대학생들과 교제하며 믿음의 친구, 믿음의 동역자를 만들어가는 시간</p>
			<br/>
	    <h4><직능별 네트워크></h4>
	    <p>동일한 업종 내 전국 네트워크로서 각 직업별 특수환경을 심층적으로 이해하고 직업기능을 통한 창의적인 선교활동을 모색하는 시간</p>
			<br/>
			<h4><주제강의></h4>
			<p>최근에 일어난 여러 사건들을 성경적으로 해석하고 시대를 조명하며, 역사의 주관자로서 열방을 경영하시는 하나님의 나라와 거룩한 비전을 제시하는 최바울 선교사의 탁월한 강의</p>
			<br/>
			<h4><간증></h4>
			<p>직장 또는 선교지 현장에서 사역하고 있는 청년들과 선교현장에서 제자양육, 교회개척 사역을 수행한 선교사님들의 간증의 시간</p>
  	</div>

  	<div class="widget col-sm-6 col-xs-12">
  		<h4><선택식 강의></h4>
  		<p>국내와 선교지에서 필요한 구체적인 사역뿐 아니라 영적 성숙과 훈련을 위한 20여개의 다양한 전문 강의들을 선택해서 듣는 시간</p>
			<br/>
  		<h4><영상 미디어></h4>
  		<p>최근에 일어난 지구촌의 이슈들을 성경적 관점에서 재조명하고 한국교회가 감당해야 할 과업들을 영상을 통해 경험</p>
			<br/>
  		<h4>&lt;BTJ Festival&gt;</h4>
  		<p>다양한 장르의 공연과 열방 퍼레이드를 통해 모든 민족을 하나님께 올려드리며 BTJ 세대로 일어나는 축제의 시간</p>
			<br/>
  		<h4><비전/진로 상담></h4>
  		<p>믿음의 선배나 선교사님들과 대화하며 상담할 수 있는 시간</p>
  	</div>
  </div><!-- .container -->
</div> <!-- .divider -->

<div class="divider">
  <div class="container">
  	<div class="widget col-sm-12">
			<div class="page-header">
				<h2>오시는 길</h2>
			</div>
  	</div>

  	<div class="widget col-sm-6 col-xs-12">
  		<ul>
  			<li>자차이용시: 화서 IC나와 보은 방향으로 좌회전 후 약 4Km내려오시면 우측에 전문인국제협력단(열방센터)표지판이 있습니다.</li>

  		</ul>
  		<p>자세한 사항은 <a href="http://www.btjcenter.com">BTJ열방센터 홈페이지</a>를 참고 바랍니다.</p>
      <img src="{{ url_for('static', filename='common/img/btjcenter_map.png') }}" style="width:100%" alt="열방센터 약도"/>
  	</div>
  </div><!-- .container -->
</div> <!-- .divider -->
{% endblock content %}
