{% extends 'page.html' %}
{% block content %}
<div class="container">
  <div class="widget col-sm-6 col-xs-12">
		<h2>1차 청년직장인선교캠프 안내</h2>
		<br/>
    <br/>
		<table class="table table-centered">
      <tbody>
        <tr>
          <td></td>
          <td>1차마감<br>11/20</td>
          <td>2차마감<br>12/4</td>
          <td>3차마감<br>12/18</td>
          <td>캠프당일<br>12/28</td>
        </tr>
        <tr>
          <td>개인</td>
          <td>92,000</td>
          <td>97,000</td>
          <td>102,000</td>
          <td rowspan="2">107,000</td>
        </tr>
        <tr>
          <td>단체</td>
          <td>87,000</td>
          <td>92,000</td>
          <td>97,000</td>
        </tr>
        <!--
        <tr>
          <td colspan="5">당일 35,000원 / 1박2일 58,000원 / 2박3일 81,000원</td>
        </tr>
        -->
      </tbody>
		</table>
    <br/>
    <br/>
		<section>
			- 등록비 입금계좌 : 국민은행 763601-04-098592<br/>
			- 예금주 : 전문인국제***(청대캠프)<br/>
			*입금자 명에 참가자의 지역과 이름 기입해 주세요. 예)서울 홍길동<br/>
		</section>
		<br/>
    <br/>
		<section>
			- 환불 (문의: historymakers_b@hanmail.net)<br/>
			* 3차 마감(12/18)이후 취소시 50% 환불, 당일 취소는 환불되지 않습니다.(선입금 3만원은 환불되지 않습니다.)<br/>
			* 환불 접수는 캠프 이후 2주까지만 신청받습니다.<br/>
			환불 접수기간이 지난 이후에는 환불이 되지 않습니다<br/>
			환불 접수는 historymakers_b@hanmail.net로 해주세요.<br/>
			성명/연락처/환불금액/계좌(은행명, 예금주)를 빠짐없이 기록해주세요.<br/>
		</section>
	</div> <!-- .widget -->
</div>
{% endblock content %}
