{% extends 'page.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="page-header">
      <h2>신청 조회(1차 캠프: 12.28~31)</h2>
    </div>

    <br/>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="well">
        <form action="" method="POST">
          <div class="form-group">
            <label for="userid">아이디 또는 이메일</label>
            <input class="form-control" type="text" name="userid" id="userid" />
            <br/>
            <label for="pwd">비밀번호</label>
            <input class="form-control" type="password" name="pwd" id="pwd" />
            <br/>
            <label>신청 구분</label>
            <div class="radio">
              <label><input type="radio" name="logintype" id="logintype1" value="개인">개인</label>&nbsp;
              <label><input type="radio" name="logintype" id="logintype2" value="단체">단체</label>
            </div>
            <br/>
            <input type="submit" class="btn btn-success" value="조회"/>
            <!--<input type="button" class="btn btn-default" value="비밀번호 찾기"/>-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
