{% extends 'cmc/page.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="container">
  {{ macros.render_stat(stat=stat, metrics=metrics)}}
  {#
  <p><a href="list?cancel_yn=0&amp;foreigner=외국인">외국인 신청자 목록 보기</a></p>
  #}
  {% if current_user.role in ['hq', 'master'] %}
  <p>날짜별 신청 현황</p>
  {{ macros.render_bar_chart(daily_apply) }}
  <br/>
  <p>일자별 통계</p>
  <table class="table1">
    <tr>
      <th>6월 28일</th>
      <th>6월 29일</th>
      <th>6월 30일</th>
      <th>7월 1일</th>
    </tr>
    <tr>
    {% for s in attend_stat %}
      {% if s.cnt != 0 %}
      <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }}</span> / <span style="color:green">{{ s.a_cnt }}</span></td>
      {% endif %}
    {% endfor %}
    </tr>
  </table>
  <br/>
  <p>참석일수별 통계</p>
  <table class="table1">
    <tr>
      <th>취소</th>
      <th>1일</th>
      <th>2일</th>
      <th>3일</th>
      <th>4일</th>
    </tr>
    <tr>
    {% for s in partial_stat %}
      <td>{{ s[1] }}</td>
    {% endfor %}
    </tr>
  </table>
  <br/>
  {% endif %}
  {% if current_user.role == 'master' %}
  <a href="{{ url_for('.fix_attend_error') }}">전체참석 참가자 날짜 선택 오류 수정</a>
  {% endif %}
</div>
{% endblock %}
