{% extends 'cmc/page.html' %}

{% block content %}
<div class="container">
  <div class="col-md-2 col-sm-4">
    <ul>
      <li><a href="{{ url_for('.old_stat', year=2016, term=1)}}">2016년 겨울</a></li>
      <li><a href="{{ url_for('.old_stat', year=2015, term=2)}}">2015년 여름</a></li>
      <li><a href="{{ url_for('.old_stat', campcode='cmc_2015_1')}}">2015년 겨울</a></li>
      <li><a href="{{ url_for('.old_stat', campcode='cmc_2014_2')}}">2014년 여름</a></li>
      <li><a href="{{ url_for('.old_stat', campcode='cmc_2014')}}">2014년 겨울</a></li>
      <li><a href="{{ url_for('.old_stat', campcode='cmc_2013_2')}}">2013년 여름</a></li>
      <li><a href="{{ url_for('.old_stat', campcode='cmc_2013')}}">2013년 겨울</a></li>
    </ul>
  </div>
  <div class="col-md-10 col-sm-8">
    <p>요약</p>
    <table class="table1">
      <tr>
        {% set i = 0 %}
        {% for s in stat.summary %}
        <td>{{ s.name }}</td>
        {% if not s.cnt == 0 %}
        <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [{{ '%.2f' % (s.r_cnt / s.cnt * 100) }} %]</span> / <span style="color:green">{{ s.a_cnt }} [{{ '%.2f' % ( s.a_cnt / s.cnt * 100 ) }} %]</span></td>
        {% else %}
        <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [0.00 %]</span> / <span style="color:green">{{ s.a_cnt }} [0.00 %]</span></td>
        {% endif %}
        {% set i = i + 1 %}
        {% if i % 2 == 1 %}
        </tr><tr>
        {% endif %}
        {% endfor %}
      </tr>
    </table>
    <br/>
    <p>지부별</p>
    <table class="table1">
      <tr>
        {% set i = 0 %}
        {% for s in stat.area %}
        <td><a href="{{ url_for('cmc.old_list', area_idx=s.idx, year=year, term=term) }}">{{ s.name }}</a></td>
        <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }}</span> / <span style="color:green">{{ s.a_cnt }}</span></td>
        {% set i = i + 1 %}
        {% if i % 4 == 0 %}
        </tr><tr>
        {% endif %}
        {% endfor %}
      </tr>
    </table>
  </div>
</div>
{% endblock %}
