{% macro render_cell(cnt, r_cnt, a_cnt) -%}
{% if not cnt == 0 %}
<td>{{ cnt }} / <span style="color:red">{{ r_cnt }} [{{ '%.2f' % (r_cnt / cnt * 100) }} %]</span> / <span style="color:green">{{ a_cnt }} [{{ '%.2f' % ( a_cnt / cnt * 100 ) }} %]</span></td>
{% else %}
<td>{{ cnt }} / <span style="color:red">{{ r_cnt }} [0.00 %]</span> / <span style="color:green">{{ a_cnt }} [0.00 %]</span></td>
{% endif %}
{%- endmacro %}

{% macro render_stat(stat, metrics) -%}
<p>요약</p>
<table class="table1">
  <tr>
  {# 기본 통계 #}
  {% for name in ['전체', '개인', '단체', '남', '여', '개인 남', '개인 여', '단체 남', '단체 여'] %}
    {% if name in metrics.basic %}
    <td><a href="{{ url_for('.member_list') }}?cancel_yn=0{% for key, value in metrics.basic[name] %}&amp;{{ key }}={{ value }}{% endfor %}">{{ name }}</a></td>
    {{ render_cell(*stat.basic[name]) }}
    {% if name in ['전체', '단체', '여', '개인 여'] %}</tr><tr>{% endif %}
    {% endif %}
  {% endfor %}
  </tr>
</table>
<br/>

{# GROUP BY 통계 #}
{% for name in ['참가유형별', '지부별', '단체별'] %}
{% if name in metrics.group_by %}
{% set stat_group = stat.group_by[name] %}
<p>{{ name }}</p>
<table class="table1">
  {% set i = 0 %}
  <tr>
  {% for row in stat_group[1] %}
    <td>
      <a href="{{ url_for('.member_list') }}?cancel_yn=0&amp;{{ stat_group[0] }}={{ row[0] }}">
      {% if name == '지부별' %}
      {{ row[0]|area_name }}
      {% elif name == '단체별' %}
      {{ row[0]|group_name }}
      {% else %}
      {{ row[0] }}
      {% endif %}
      </a>
    </td>
    {{ render_cell(row[1], row[2], row[3]) }}
    {% set i = i + 1 %}
    {% if i % 4 == 0 %}</tr><tr>{% endif %}
  {% endfor %}
  </tr>
</table>
<br/>
{% endif %}
{% endfor %}

{# 가변필드 기준 통계 #}
{% for name in ['캠퍼스별', '전공별', '직업/직군별', '직장별', '인터콥 훈련유형별', '통역필요', '비목회자구분', '기타통역언어', '도시별', '교단별'] %}
{% if name in stat.membership %}
{% set stat_group = stat.membership[name] %}
<p>{{ name }}</p>
<table class="table1">
  {% set i = 0 %}
  <tr>
  {% for row in stat_group[1] %}
    <td><a href="{{ url_for('.member_list') }}?cancel_yn=0&amp;{{ stat_group[0] }}={{ row[0] }}">{{ row[0] }}</a></td>
    {{ render_cell(row[1], row[2], row[3]) }}
    {% set i = i + 1 %}
    {% if i % 4 == 0 %}</tr><tr>{% endif %}

  {% endfor %}
  </tr>
</table>
<br/>
{% endif %}
{% endfor %}

{# 통역필요 #}
{% for name in ['통역필요'] %}
{% set stat_group = stat.group_by[name] %}
<p>{{ name }}</p>
<table class="table1">
  {% set i = 0 %}
  <tr>
  {% for row in stat_group[1] %}
    <td>
      <a href="{{ url_for('.member_list') }}?cancel_yn=0&amp;{{ stat_group[0] }}={{ row[0] }}">
      {{ row[0] }}
      </a>
    </td>
    {{ render_cell(row[1], row[2], row[3]) }}
    {% set i = i + 1 %}
    {% if i % 4 == 0 %}</tr><tr>{% endif %}
  {% endfor %}
  </tr>
</table>
<br/>
{% endfor %}

{# 연령별 통계 #}
<p>연령별</p>
<table class="table1">
  {% for row in stat.ages %}
  <tr>
    <td>{{ row[0] }}</td>
    {{ render_cell(row[1], row[2], row[3]) }}
  </tr>
  {% endfor %}
</table>
<br/>
{%- endmacro %}

{% macro render_bar_chart(data) -%}
<div id="chart"></div>
<style>
.axis { font: 10px sans-serif; }
.axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
</style>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>
var margin = {top: 20, right: 20, bottom: 70, left: 40},
    width = 600 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

// Parse the date / time
var	parseDate = d3.time.format("%Y-%m-%d").parse;

var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

var y = d3.scale.linear().range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%m-%d"));

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);

var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

var data = [];
{% set i = 0 %}
{% for row in data %}
data[{{ i }}] = {'date': parseDate('{{ row[0] }}'), 'value': {{ row[1]|int }}};
{% set i = i + 1 %}
{% endfor %}

x.domain(data.map(function(d) { return d.date; }));
y.domain([0, d3.max(data, function(d) { return d.value; })]);

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
  .selectAll("text")
    .style("text-anchor", "end")
    .attr("dx", "-.8em")
    .attr("dy", "-.55em")
    .attr("transform", "rotate(-90)" );

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("신청자(명)");

svg.selectAll("bar")
    .data(data)
  .enter().append("rect")
    .style("fill", "steelblue")
    .attr("x", function(d) { return x(d.date); })
    .attr("width", x.rangeBand())
    .attr("y", function(d) { return y(d.value); })
    .attr("height", function(d) { return height - y(d.value); });
</script>
{%- endmacro %}
