{% extends 'base.html' %}
{% block head %}
<style>
.table1 td, .table1 th  {
	border: 1px solid #ccc;
	padding: 4px;
	font-size: 11px;
}

.flashes {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  padding-left: 15px;
}

.table {
	font-size: 11px;
}

.table>tbody>tr>td,
.table>thead>tr>th {
	padding: 2px;
}
</style>
{% endblock %}
{% block body %}
<section>
  <header>
    <nav class="navbar navbar-default">
      <div class="container ">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation" aria-expanded="false">
            <span class="sr-only">메뉴</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="{{ url_for('.home') }}">선캠 등록 관리</a>
        </div>
        <div class="collapse navbar-collapse" id="primary-navigation">
					{% block navs %}
					{% endblock %}

					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{ url_for('cmc.home') }}">청대</a></li>
						<li><a href="{{ url_for('cbtj.home') }}">청직</a></li>
						<li><a href="{{ url_for('ws.home') }}">여남시</a></li>
						<li><a href="{{ url_for('kids.home') }}">어린이</a></li>
						<li><a href="{{ url_for('youth.home') }}">청소년</a></li>
						<li><a href="{{ url_for('logout') }}">로그아웃</a></li>
					</ul>
        </div>
      </div>
    </nav>
    {% block header %}
    {% endblock header %}
  </header>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <div class="container">
          <li class="alert alert-info alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </li>
        </div>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <section class="content">
    {% block content %}
    {% endblock content %}
  </section>
</section>
{% endblock body %}
