{% extends 'cbtj/page.html' %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h2>단체 신청 조회(1차캠프: 12.28~31)</h2>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6">
    <section class="well">
      <table class="table">
        <tr>
          <td>단체명</td>
          <td colspan="3">{{ group.name }}</td>
        </tr>
        <tr>
          <td>지부</td>
          <td colspan="3">{{ area }}</td>
        </tr>
        <tr>
          <td>담당자 이름</td>
          <td colspan="3">{{ group.leadername }}</td>
        </tr>
        <tr>
          <td>담당자 연락처</td>
          <td colspan="3">{{ group.leadercontact }}</td>
        </tr>
        <tr>
          <td>멤버 수</td>
          <td colspan="3">{{ group.mem_num }}</td>
        </tr>
        <tr>
          <td>메모</td>
          <td colspan="3">{{ group.memo }}</td>
        </tr>
      </table>
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <a href="{{ url_for('.member_add', camp='cbtj') }}" class="btn btn-primary" >멤버 추가</a>
        <a href="{{ url_for('.edit_group', camp='cbtj') }}" class="btn btn-default" >단체 정보 수정</a>
        <a href="{{ url_for('.cancel_group', camp='cbtj') }}" class="btn btn-danger" >단체 신청 취소</a>
        <a href="{{ url_for('.logout') }}" class="btn btn-default">로그아웃</a>
      </div>
    </section>
  </div>

  <div class="page-header col-xs-12">
    <h2>단체 멤버 목록</h2>
  </div>

  <div class="col-xs-12 col-sm-10 col-md-8">
    <section class="article-contents well">
      <table class="table">
        <thead>
          <tr>
            <th>이름</th>
            <th>성별</th>
            <th>참가구분</th>
            <th>단체버스</th>
            <th>참가형태</th>
            <th>뉴커머</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for member in member_list %}
            <tr>
              <td><!--<a href="member/{{ member.idx }}">-->{{ member.name }}<!--</a>--></td>
              <td>{% if member.sex == 'M' %} 남자 {% else %} 여자 {% endif %}</td>
              <td>{{ member.persontype }}</td>
              <td>{% if member.bus_yn %} 예 {% else %} 아니오 {% endif %}</td>
              <td>{% if member.fullcamp_yn %} 전체참가 {% else %} 부분참가 {% endif %}</td>
              <td>{% if member.newcomer_yn %} 예 {% else %} 아니오 {% endif %}</td>
              <td>
                <div class="btn-group btn-group-xs" role="group" aria-label="...">
                  <a class="btn btn-default" href="{{ url_for('.member_edit', camp='cbtj', member_idx=member.idx) }}">수정</a>&nbsp;|&nbsp;
                  <a class="btn btn-danger" href="{{ url_for('.member_cancel', camp='cbtj', member_idx=member.idx) }}">취소</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
</div>
{% endblock %}
