{% extends 'kids/page.html' %}

{% block content %}
<div class="container" id="main-content">
  <div class="page-header">
    <h2>개인 신청 조회</h2>
  </div>
  <div class="col-xs-12 col-sm-6">
    <section class="well">
      <table class="table">
        <tr>
          <td>이름</td>
          <td>{{ member.name }}</td>
        </tr>

        <tr>
          <td>지부</td>
          <td>{{ member.area.name }}</td>
        </tr>

        <tr>
          <td>성별</td>
          <td>{% if member.sex == 'M' %} 남 {% else %} 여 {% endif %}</td>
        </tr>

        <tr>
          <td>출생년도</td>
          <td>{{ member.birth }}</td>
        </tr>

        <tr>
          <td>보호자 이름</td>
          <td>
            {% for t in member.membership %}
              {% if t.key == 'pname' %}{{ t.value }}{% endif %}
            {% endfor %}
          </td>
        </tr>

        <tr>
          <td>보호자 연락처</td>
          <td>{{ member.contact }}</td>
        </tr>

        <tr>
          <td>출석교회</td>
          <td>{{ member.church }}</td>
        </tr>

        <tr>
          <td>참가구분</td>
          <td>{{ member.persontype }}</td>
        </tr>

        {% if member.persontype == '어린이' %}
        <tr>
          <td>학교</td>
          <td>
            {% for t in member.membership %}
              {% if t.key == 'sch1' %}{{ t.value }}{% endif %}
            {% endfor %}
          </td>
        </tr>

        <tr>
          <td>학년</td>
          <td>
            {% for t in member.membership %}
              {% if t.key == 'sch2' %}{{ t.value }}학년{% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endif %}

        <tr>
          <td>선교캠프 참여 경험</td>
          <td>{% if member.newcomer_yn %} 없음 {% else %} 있음 {% endif %}</td>
        </tr>

        <tr>
          <td>인터콥 훈련 여부</td>
          <td>
            {% for t in member.membership %}
              {% if t.key == 'training' %}{{ t.value }},&nbsp;{% endif %}
            {% endfor %}
          </td>
        </tr>

        <tr>
          <td>등록 날자</td>
          <td>{{ member.regdate }}</td>
        </tr>

        <tr>
          <td>남기고싶은 말</td>
          <td>{{ member.memo }}</td>
        </tr>

        <tr>
          <td colspan="2">
            <p style="text-align:center">
              <a class="btn btn-default" href="{{ url_for('.edit_individual', idx=member.idx) }}">수정</a>&nbsp;&nbsp;
              <a class="btn btn-default" href="{{ url_for('.cancel_individual', idx=member.idx) }}">신청취소</a>
              <a href="{{ url_for('.logout') }}" class="btn btn-default">로그아웃</a>
            </p>
          </td>
        </tr>
      </table>
    </section>
  </div>
</div>
{% endblock %}
