{% extends 'youth/page.html' %}
{% block content %}
<section class="hidden-xs" id="intro" data-speed="6" data-type="background" style="background: url({{ url_for('static', filename='youth/img/main.png') }}) 50% 0 fixed; background-size: 100% auto;">
	<div class="container" style="margin-top:-20%">
		<div class="widget col-sm-6 col-xs-12">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="//www.youtube.com/embed/cXHU8KDliZI"></iframe>
			</div>
			<br/>
		</div> <!-- .widget -->
		<div class="widget col-sm-6 col-xs-12">
			<a href="{{ url_for('.home') }}"><img src="{{ url_for('static', filename='youth/img/title2018w.jpg') }}" alt="청소년선교캠프" style="width: 100%;"/></a>
		</div> <!-- .widget -->
	</div>
</section>
<section class="visible-xs" style="margin-top:52px;">
	<div class="container">
		<a href="{{ url_for('.home') }}"><img src="{{ url_for('static', filename='youth/img/title2018w.jpg') }}" alt="청소년선교캠프" style="width: 100%;"/></a>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/cXHU8KDliZI"></iframe>
		</div>
	</div>
</section>
<img src="{{ url_for('static', filename='youth/img/intro.jpg') }}" style="width:100%"/>
<div style="background: url({{ url_for('static', filename='youth/img/program_bg.png') }}) #11477a no-repeat; background-position: top; background-size:100% auto">
	<div class="container" style="padding-top:45px; padding-bottom:45px;">
		<div class="row">
      <div class="col-xs-12">
        <h2 style="color: #faf8f4;">프로그램</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="{{ url_for('static', filename='youth/img/program2018w.jpg') }}"  class="img-responsive"/><br/>
        <p style="color: #efefef; font-size: 15px;"></p><br/>
      </div>

      <div class="col-sm-6 col-xs-12">

        <span style="color: #70c6fd;">주강의</span><br/>
        <span style="color: #efefef; font-size: 15px;">시대와 역사를 이해하고 급변해가는 이 시대 가운데 세상의 꿈과 이 땅의 영광을 위해 살아가는 것이 아니라 영원한 하나님의 나라를 위해 살아가야 함을 깨닫고, 하나님의 나라가 이루어지기 위해 자신의 세대의 역할과 부르심을 따라 일어나도록 도전합니다.</span><br/>
        <br/>
        <span style="color: #70c6fd;">주제 강의</span><br/>
        <span style="color: #efefef; font-size: 15px;">복음, 성령, 변방, 부흥을 함께 나누며 말씀으로 이 시대를 살아가야 함을 나누는 시간입니다. 또 선교지의 선교사님들과, 청소년 친구들의 실제적인 간증을 통해 현장에서 일어나고 있는 하나님의 일들을 함께 나누는 시간입니다.</span><br/>
        <br/>
        <span style="color: #70c6fd;">청소년 메세지</span><br/>
        <span style="color: #efefef; font-size: 15px;">청소년 시기에 하나님 안에서 꿈과 비전을 가지고 헌신한 U★BTJ 운동가들이 생생한 간증과 메시지를 나누는 시간입니다. 학교와 선교지 현장에서 복음을 증거하며 예수님의 제자로 살기를 힘쓰는 U★BTJ 운동가들의 삶을 자신의 세대에게 나눔으로써 큰 믿음의 격려와 도전의 시간이 될 것입니다. </span><br/>
        <br/>
     <!--  
        <span style="color: #70c6fd;">종족 엑스포</span><br/>
        <span style="color: #efefef; font-size: 15px;">아직 복음을 듣지 못한 미전도 종족에 대해 즐거운 활동을 통해 소개받고 현지 문화를 체험하며 기도할 수 있는 시간입니다. 단기선교를 통해 이 민족을 섬겼던 청소년들이 직접 준비하고 나누는 종족엑스포 통해 민족을 향하신 하나님 아버지의 마음을 품게 될 것입니다.</span><br/>
        <br/>       
     -->   
        <span style="color: #70c6fd;">선택식 강의</span><br/>
        <span style="color: #efefef; font-size: 15px;">다양한 분야의 전문사역자들, 현장 선교사 그리고 청소년 사역자들의 생생한 현장소식과 사역의 장을 들여다보고 함께 동역자로 세워가는 시간입니다. </span><br/>
        <br/> 
        <span style="color: #70c6fd;">BTJ 페스티벌</span><br/>
        <span style="color: #efefef; font-size: 15px;">하나님의 역사는 믿음의 사람들을 통해 성취되어 왔습니다. 하나님의 역사를 위해 살아온 믿음의 선배들을 소개하고 이제는 이 역사를 이어 받은 새로운 세대! 하나님의 역사를 완성할 청소년 세대의 눈부신 도전을 재미있는 이야기와 공연으로 엮었습니다.</span><br/>
        <br/>

        <span style="color: #70c6fd;">파송식</span><br/>
        <span style="color: #efefef; font-size: 15px;">세계 선교에 헌신한 청소년세대가 학교와 교회 삶의 현장에서 비전을 품고 살아갈 수 있도록 도전하며, 열방을 품고 강력한 선교부흥을 감당하는 세대로 일어나도록 도전합니다.</span><br/>
        <br/>
        
      <!--
        <span style="color: #70c6fd;">2NE4 (Never-Ending 24 TIME)</span><br/>
        <span style="color: #efefef; font-size: 15px;">모든 민족으로 주를 찾게 하려는 주님의 뜻을 성취하기 위하여 주를 사랑함으로 열방을 올려드리는 끊임없는 예배와 기도입니다. 전장에 있던 여호수아 군대를 모세와 아론과 훌이 중보기도를 통해 전쟁을 승리로 이끌었습니다. 복음에 소외된 민족을 가슴에 안고 아버지의 마음을 구하며 눈물로 기도하는 2NE4를 통해 하나님의 나라가 열방 가운데 권능으로 임할 줄 믿습니다.</span><br/>
      -->
      
      </div>
    </div> <!-- .row -->
	</div>
</div>

<div class="container" style="margin-top:35px;">
	<div class="row">
    <div class="col-sm-6 col-xs-12">
      <h2 style="margin-top: 5px; font-size: 24px;">캠프 신청하기</h2>
      <span style="font-family: 'Oswald'; font-weight: 800; color: red; font-size: 22px;">Step1</span>   <span style="font-family: 'Nanum Barun Gothic'; font-size: 15px;">개인/단체신청을 클릭하신 후 정보를 입력해 주세요</span>
      <!--
      <button>개인신청</button><button>단체신청</button><button>조회하기</button>
      -->
			<p>
				<div class="col-xs-3"><a class="btn btn-warning" href="{{ url_for('.registration') }}">개인 신청</a></div>
				<div class="col-xs-3"><a class="btn btn-warning" href="{{ url_for('.reg_group') }}">단체 신청</a></div>
				<div class="col-xs-3"><a class="btn btn-warning" href="{{ url_for('.login') }}">신청 조회</a></div>
			</p>
			<br/>
			<br/>
			<br/>
      <p><span style="font-family: 'Oswald'; font-weight: 800; color: red; font-size: 22px;">Step2</span>   <span style="font-family: 'Nanum Barun Gothic'; font-size: 15px;">등록비 정보를 확인하시고 입금 부탁드려요.</span></p>
      <table style="width: 90%; border: 0; border-collapse: collapse;" border="0" cellspacing="1" cellpadding="1">
        <tbody>
          <tr bgcolor="#fba012">
            <td style="border: 0; border-right: 1px solid #d67b16; text-align: center;"></td>
            <td style="border: 0; border-right: 1px solid #d67b16; text-align: center;">
              <span style="color: #343434; font-size: 12px; letter-spacing:-1px;">1차 마감</span><br/>
              <span style="color: #83190b; font-weight: bold; font-size: 16px;"><span style="font-family: 'Oswald';">12/18</span></span>
            </td>
            <td style="border: 0; border-right: 1px solid #d67b16; text-align: center;">
              <span style="color: #343434; font-size: 12px; letter-spacing:-1px;">2차 마감</span><br/>
              <span style="color: #83190b; font-weight: bold; font-size: 16px;"><span style="font-family: 'Oswald';">1/1</span></span>
            </td>
            <td style="border: 0; border-right: 0; text-align: center;">
              <span style="color: #343434; font-size: 12px; letter-spacing:-1px;">캠프당일</span><br/>
              <span style="color: #83190b; font-weight: bold; font-size: 16px;"><span style="font-family: 'Oswald';">1/8</span></span>
            </td>
          </tr>
          <tr bgcolor="#fff" style="background-color:#fff">
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle; font-size:13px;">개인</td>
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle;"><span style="font-family: 'Oswald';">75,000</span></td>
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle;"><span style="font-family: 'Oswald';">80,000</span></td>
            <td style="border: 0; border-right: 0; text-align: center; vertical-align: middle;"><span style="font-family: 'Oswald';">85,000</span></td>
          </tr>
          <tr bgcolor="#fff" style="background-color:#fff">
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle; font-size:13px;">단체</td>
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle;"><span style="font-family: 'Oswald';">72,000</span></td>
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle;"><span style="font-family: 'Oswald';">77,000</span></td>
            <td style="border: 0; border-right: 0; text-align: center; vertical-align: middle;"><span style="font-family: 'Oswald';">82,000</span></td>
          </tr>
        </tbody>
      </table>
			<br/>
      <div style="font-size: 13px; margin: 0 0 0 5px;">
        <p>
          입금계좌:<span style="color: #1eafe4; letter-spacing:-1px;">국민은행763601-04-098617</span> (예금주:전문인국제***_청선캠)<br/>
          입금자명에 참가자 지역과 이름을 기입해 주세요. 예) 서울홍길동/서울믿음교회
        </p>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <h2 style="margin-top: 5px; font-size: 24px;">열방센터 오시는 길</h2>
      <p></p>
      <ul style="font-size: 13px;">
        <li style="font-family: 'Nanum Barun Gothic';">자차이용시: 화서 IC나와 보은 방향으로 좌회전 후 약 4Km내려오시면 우측에 전문인국제협력단(열방센터)표지판이 있습니다.</li>
      </ul>
      <img src="{{ url_for('static', filename='common/img/btjcenter_map.png') }}" alt="열방센터 오시는 길" style="max-width:100%" />
    </div>
	</div> <!-- .row -->
</div> <!-- .container -->

<div class="container" style="margin-top:35px;">
	<div class="row">
    <div class="col-sm-6 col-xs-12">
      <h2 style="margin-top: 5px; font-size: 24px;">캠프신청시 유의사항</h2>
      <br/>
      등록비환불<br/>
      <span style="color: #656565; font-size: 13px;">12월 31일(2차마감 전날) 이전까지 전액 환불되오며, 1월 1일(2차마감) 이후부터 참가비 50%(행정비 제외)를 감하고 환불해 드립니다. *캠프 당일 취소는 환불되지 않습니다.</span><br/>
      <br/>
		</div>
		<div class="col-sm-6 col-xs-12">
			<h2 style="margin-top: 5px; font-size: 24px;">&nbsp;</h2>
			<br/>
      환불 요청<br/>
      <span style="color: #656565; font-size: 13px;">메일(yomc@naver.com)을 통해 환불 신청을 하시고 성명, 연락처, 환불, 금액, 통장계좌번호(은행명, 예금주)를 기록해 주세요. 단체 신청의 경우 인원 변동시 바로 연락해 주세요.</span><br/>
    </div>
	</div>
</div>

<!-- 홍보물 신청 -->
<div class="container" style="padding-top:35px;" id="promotion">
	<br/>
	<div class="row">
    <div class="col-sm-6 col-xs-12">
      <h2 style="margin-top: 5px; font-size: 24px;">홍보물 신청</h2>
			<p><span style="color: #656565; font-size: 13px;">
				청소년선교캠프 프로그램과 자세한 내용을 희망하시는 분들은 홍보물신청해주시면 우편으로 발송드리겠습니다.
				(홍보물: 청소년선교캠프 프로그램 및 안내문, 포스터&amp;브로셔 등)
			</span></p>
      <br/>
      <div class="well">
				<form role="form" action="{{ url_for('.save_promotion_info') }}" method="POST">
					<div class="form-group">
						<label for="church_name">교회 이름</label>
						<input type="text" class="form-control" id="church_name" name="church_name"/>
					</div>
					<div class="form-group">
						<label for="name">받는분 이름</label>
						<input type="text" class="form-control" id="name" name="name"/>
					</div>
					<div class="form-group">
						<label for="address">받는분 주소</label>
						<input type="text" class="form-control" id="address" name="address"/>
					</div>
					<div class="form-group">
						<label for="contact">받는분 연락처</label>
						<input type="text" class="form-control" id="contact" name="contact"/>
					</div>
					<div class="form-group">
						<label for="memo">요청사항</label>
						<input type="text" class="form-control" id="memo" name="memo"/>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary"/>
					</div>
				</form>
			</div>
      <br/>
		</div>
	</div>
</div>
{% endblock content %}
