{% macro render_stat(stat, title, cols=4, first_row_cols=0, param_key=none) -%}
<p>{{ title }}</p>
<table class="table1">
  <tr>
    {% set i = 0 %}
    {% for s in stat %}
    {% if param_key is not none %}
    <td><a href="list?{{ param_key }}={{ s.param }}">{{ s.name }}</a></td>
    {% else %}
    <td>{{ s.name }}</td>
    {% endif %}
    {% if not s.cnt == 0 %}
    <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [{{ '%.2f' % (s.r_cnt / s.cnt * 100) }} %]</span> / <span style="color:green">{{ s.a_cnt }} [{{ '%.2f' % ( s.a_cnt / s.cnt * 100 ) }} %]</span></td>
    {% else %}
    <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [0.00 %]</span> / <span style="color:green">{{ s.a_cnt }} [0.00 %]</span></td>
    {% endif %}
    {% set i = i + 1 %}
    {% if i % cols == first_row_cols %}
    </tr><tr>
    {% endif %}
    {% endfor %}
  </tr>
</table>
{%- endmacro %}

{% macro cbtj_render_stat(stat, title, cols=4, first_row_cols=0, param_key=none, camp='cbtj') -%}
<p>{{ title }}</p>
<table class="table1">
  <tr>
    {% set i = 0 %}
    {% for s in stat %}
    {% if param_key is not none %}
    <td><a href="list?{{ param_key }}={{ s.param }}&amp;camp={{ camp }}">{{ s.name }}</a></td>
    {% else %}
    <td>{{ s.name }}</td>
    {% endif %}
    {% if not s.cnt == 0 %}
    <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [{{ '%.2f' % (s.r_cnt / s.cnt * 100) }} %]</span> / <span style="color:green">{{ s.a_cnt }} [{{ '%.2f' % ( s.a_cnt / s.cnt * 100 ) }} %]</span></td>
    {% else %}
    <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [0.00 %]</span> / <span style="color:green">{{ s.a_cnt }} [0.00 %]</span></td>
    {% endif %}
    {% set i = i + 1 %}
    {% if i % cols == first_row_cols %}
    </tr><tr>
    {% endif %}
    {% endfor %}
  </tr>
</table>
{%- endmacro %}

{# Renders field for bootstrap 3 standards.

    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}
{% macro render_field(field, label_visible=true, static=false) -%}
    <div id="{{ field.id}}_group" class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
            <label id="{{ field.id }}_label" for="{{ field.id }}" class="control-label col-sm-4">{{ field.label }}</label>
        {% endif %}
        <div class="col-sm-8">
          {% if static %}
            <p class="form-control-static">{{ field.data }}</p>
          {% else %}
            {{ field(class_='form-control', **kwargs) }}
          {% endif %}
          {% if field.id == 'userid' or field.id == 'groupid' %}
          <p id="id_check"></p>
          {% endif %}
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_select_field(field) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }} {% if field.id == 'sch2' %} school {% endif %}">
        <label id="{{ field.id }}_label" for="{{ field.id }}" class="col-sm-4 control-label">{{ field.label }}</label>
        <div class="col-sm-8">
            <select name="{{ field.id }}" class="form-control" id="{{ field.id }}">
                <option value="">== 선택하세요 ==</option>
                {% for value, label, _ in field.iter_choices() %}
                <option value="{{ value }}" {% if value == field.data %} selected {% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{%- endmacro %}

{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        <label id="{{ field.id }}_label" for="{{ field.id }}" class="col-sm-4 control-label">{{ field.label }}</label>
        <div class="col-sm-8">
        {% for id, value, _ in field.iter_choices() %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ field.id }}" id="{{ id }}" {% if id != 'none' %} class="membership" {% endif %} value="{{ value }}" {% if field.data is not none and value in field.data %} checked {% endif %}/>
                    {{ value }}
                </label>
            </div>
        {% endfor %}
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        <label id="{{ field.id }}_label" for="{{ field.id }}" class="control-label col-sm-4">{{ field.label }}</label>
        <div class="radio col-sm-8">
        {% for value, label, _ in field.iter_choices() %}
            <label>
                <input type="radio" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}" {% if value == field.data %} checked {% endif %}>{{ label }}
            </label>
        {% endfor %}
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_contact_field(field) -%}
    {% if field.data is not none %}{% set hp = field.data.split('-') %}{% else %}{% set hp = ['','',''] %}{% endif %}
    <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
        <label id="{{ field.id }}_label" for="hp" class="col-sm-4 control-label">{{ field.label }}</label>
        <div class="col-sm-8">
            <select name="hp" id="hp">
                <option value="010" {% if hp[0] == '010' %} selected {% endif %}>010</option>
                <option value="011" {% if hp[0] == '011' %} selected {% endif %}>011</option>
                <option value="016" {% if hp[0] == '016' %} selected {% endif %}>016</option>
                <option value="017" {% if hp[0] == '017' %} selected {% endif %}>017</option>
                <option value="018" {% if hp[0] == '018' %} selected {% endif %}>018</option>
                <option value="019" {% if hp[0] == '019' %} selected {% endif %}>019</option>
                <option value="070" {% if hp[0] == '070' %} selected {% endif %}>070</option>
            </select>
            -<input name="hp2" id="hp2" type="text" size="4" value="{{ hp[1] }}"/>
            -<input name="hp3" id="hp3" type="text" size="4" value="{{ hp[2] }}"/>
        </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="help-block">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{# Renders WTForm in bootstrap way. There are two ways to call function:
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
                {{ macros.render_field(form.password, placeholder='Input password', type='password') }}
                {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
            {% endcall %}

     Params:
        form - WTForm class
        action_url - url where to submit this form
        action_text - text of submit button
        class_ - sets a class for form
    #}
{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default', editmode=false) -%}

    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}" id="form1">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'MultiCheckboxField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% elif f.type == 'ContactField' %}
                    {{ render_contact_field(f) }}
                {% elif f.type == 'SelectField' %}
                    {{ render_select_field(f) }}
                {% else %}
                    {% if editmode %}
                        {% if f.id == 'userid' or f.id =='groupid' %}
                            {{ render_field(f, static=true) }}
                        {% elif f.id == 'pwd' %}
                            {{ render_field(f, placeholder='변경할 경우에만 입력하세요...') }}
                        {% else %}
                            {{ render_field(f) }}
                        {% endif %}
                    {% else %}
                        {{ render_field(f) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="{{ btn_class }} col-sm-offset-4">{{ action_text }} </button>
    </form>
{%- endmacro %}
