{% macro render_stat(stat, title, cols=4, first_row_cols=0, param_key=none) -%}
<p>{{ title }}</p>
<table class="table1">
  <tr>
    {% set i = 0 %}
    {% for s in stat %}
    {% if param_key is not none %}
    <td><a href="list?{{ param_key }}={{ s.param }}">{{ s.name }}</a></td>
    {% else %}
    <td>{{ s.name }}</td>
    {% endif %}
    {% if not s.cnt == 0 %}
    <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [{{ '%.2f' % (s.r_cnt / s.cnt * 100) }} %]</span> / <span style="color:green">{{ s.a_cnt }} [{{ '%.2f' % ( s.a_cnt / s.cnt * 100 ) }} %]</span></td>
    {% else %}
    <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [0.00 %]</span> / <span style="color:green">{{ s.a_cnt }} [0.00 %]</span></td>
    {% endif %}
    {% set i = i + 1 %}
    {% if i % cols == first_row_cols %}
    </tr><tr>
    {% endif %}
    {% endfor %}
  </tr>
</table>
{%- endmacro %}
