{% extends 'cbtj/page.html' %}
{% block content %}
<div class="container">
  <div class="widget col-sm-6 col-xs-12">
		<h2>2차 청년직장인선교캠프 안내</h2>
		<br/>
    <br/>
		<table class="table table-centered">
      <tbody>
        <tr>
          <td></td>
          <td>1차마감<br>11/30</td>
          <td>2차마감<br>12/14</td>
          <td>3차마감<br>12/28</td>
          <td>4차마감<br>1/6</td>
          <td>캠프당일<br>1/7</td>
        </tr>
        <tr>
          <td>개인</td>
          <td>64,000</td>
          <td>68,000</td>
          <td>73,000</td>
          <td>78,000</td>
          <td>80,000</td>
        </tr>
        <tr>
          <td>단체</td>
          <td>61,000</td>
          <td>65,000</td>
          <td>70,000</td>
          <td>75,000</td>
          <td>77,000</td>
        </tr>
        <!--
        <tr>
          <td colspan="5">당일 35,000원 / 1박2일 58,000원 / 2박3일 81,000원</td>
        </tr>
        -->
      </tbody>
		</table>
    <br/>
    <br/>
		<section>
			- 등록비 입금계좌 : 국민은행 763601-04-098589<br/>
			- 예금주 : 전문인국제***(여남시캠프)<br/>
			*입금자 명에 참가자의 지역과 이름 기입해 주세요. 예)서울 홍길동<br/>
		</section>
		<br/>
    <br/>
		<section>
      *2차 청년직장인선교캠프의 등록은 별도의 선입금 없이 마감 날짜별 금액 완납이 기준입니다. <br/>
      *3차 마감(12/28)전 취소시 30% 공제 후 환불, 3차 마감~캠프전일 취소시 50% 공제 후 환불, 당일(1/7) 취소는 환불되지 않습니다. <br/>
      *환불 접수는 intercp-wscamp@hanmail.net로, 이름/연락처/환불금액/계좌(은행명, 예금주)를 빠짐없이 기록하여 신청해주세요.<br/>
		</section>
	</div> <!-- .widget -->
</div>
{% endblock content %}
