{% extends 'cmc/page.html' %}
{% block content %}

<!-- 홍보영상 -->
<div class="container">
    <div class="widget col-sm-6 col-xs-12">
        <h2>&nbsp;</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/YaVgXT4R76M"></iframe>
        </div>
        <br/>
    </div> <!-- .widget -->
</div>
<!--
<div class="divider">
    <div class="container">
        <div class="widget col-sm-12">
            <h2>{% trans %}프로그램{% endtrans %}</h2>
        </div>
        <div class="widget col-sm-6 col-xs-12">
            <h4>{% trans %}소그룹 모임{% endtrans %}</h4>
            <p>{% trans %}전국에서 모인 다양한 청년 대학생들과 교제하며 믿음의 친구, 믿음의 동역자를 만들어가는 시간{% endtrans %}</p>

            <h4>{% trans %}주제강의{% endtrans %}</h4>
            <p>{% trans %}최근에 일어난 여러 사건들을 성경적으로 해석하고 시대를 조명하며, 역사의 주관자로서 열방을 경영하시는 하나님의 나라와 거룩한 비전을 제시하는 최바울 선교사의 탁월한 강의{% endtrans %}</p>
-->

<div class="divider">
  <div class="container">
  	<div class="widget col-sm-12">
    	<div class="page-header">
  		<h2>Program</h2>
  	</div>
  </div>
		<div class="widget col-sm-6 col-xs-12">
			<h4>  Small Groups </h4>
			<p>A time where you meet and have fellowship with new friends and believers from all around the country. There will be small groups for foreigners. </p>
      <br/>
			<h4> Topical Lectures </h4>
			<p>Topical lectures will interpret recent events through a biblical perspective and will shed light on the current times. Missionary Paul Choi will speak on the Kingdom of God and God's Vision-how God is redeeming the nations and leading history into completion. </p>
      <br/>
			<h4> Testimonies </h4>
			<p>Missionaries will share testimonies of their disciple making and church planting ministries on the mission field. </p>
		</div>

		<div class="widget col-sm-6 col-xs-12">
			<h4> Elective Lectures </h4>
			<p>Missionaries will share testimonies of their disciple making and church planting ministries on the mission field. </p>
      <br/>
			<h4> Media </h4>
			<p>Experience the global phenome be shown in a biblical perspective and learn what the task of the Korean church is through video. </p>
			<br/>
			<h4> BTJ Festival  </h4>
			<p>A festival where we lift up the nations through various performances and a Nation Parade proclaiming the BTJ Generation. </p>
      <br/>
			<h4> Vision and Consulting </h4>
			<p>One-on-one personal vision counseling with our staff or missionaries are available upon request. </p>
		</div>
  </div><!-- .container -->
</div> <!-- .divider -->

<!--
=======
            <h4>{% trans %}간증{% endtrans %}</h4>
            <p>{% trans %}캠퍼스 또는 선교지 현장에서 사역하고 있는 청년들과 선교현장에서 제자양육, 교회개척 사역을 수행한 선교사님들의 간증의 시간{% endtrans %}</p>
        </div>
-->

<!--
        <div class="widget col-sm-6 col-xs-12">
            <h4>{% trans %}선택식 강의{% endtrans %}</h4>
            <p>{% trans %}국내와 선교지에서 필요한 구체적인 사역뿐 아니라 영적 성숙과 훈련을 위한 20여개의 다양한 전문 강의들을 선택해서 듣는 시간{% endtrans %}</p>

            <h4>{% trans %}영상 미디어{% endtrans %}</h4>
            <p>{% trans %}최근에 일어난 지구촌의 이슈들을 성경적 관점에서 재조명하고 한국교회가 감당해야 할 과업들을 영상을 통해 경험{% endtrans %}</p>

            <h4>BTJ Festival</h4>
            <p>{% trans %}다양한 장르의 공연과 열방 퍼레이드를 통해 모든 민족을 하나님께 올려드리며 BTJ 세대로 일어나는 축제의 시간{% endtrans %}</p>

            <h4>{% trans %}비전/진로 상담{% endtrans %}</h4>
            <p>{% trans %}믿음의 선배나 선교사님들과 대화하며 상담할 수 있는 시간{% endtrans %}</p>
        </div>
    </div><!-- .container -->

</div>

<div class="divider">
    <div class="container">
    	<div class="widget col-sm-6 col-xs-12">
    		<div class="well well-sm" style="max-width: 450px;">
    			<h4 style="text-align:center">How to Apply: </h4>
                
      &nbsp;1. Register via website (missioncamp.net/cmc) or through phone (070-8787-8879). <br />
      &nbsp;2. The registration date is when the registration fee is paid, and registration is completed when all fees are paid before 3rd deadline (12/15) after paying the initial fee of ₩ 30,000 (the initial fee of ₩ 30,000 is not refundable).  <br />
      &nbsp;3. Group discounts are given to school or churches as a group of more than 10 people (according to the 1st, 2nd, 3rd, deadline fees).          
                
                <br /><br /><br />
                
   			  <table class="table" style="margin-bottom:0; text-align:center">
                
    <td width="101"><div class="widget col-sm-6 col-xs-12">
        <h2>&nbsp;</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/YaVgXT4R76M"></iframe>
        </div>           
                
                <tbody>
             <tr>
                <td colspan="5"><p style="text-align:center; margin-bottom:0; font-size:12px">Registration Fee</p></td> 
                <br />
    	        </tr>
    	         <tr>
                <td>4 Days &amp; 3 Nights</td>
                <td width="55">1st Deadline (11/17)</td>
                <td width="47">2nd Deadline (12/8)</td>
                <td width="54">3rd Deadline (12/15</td>
                <td width="57">Day Of</td>
    	        </tr> 
    	        <tr>
                <td>Individual</td>
                <td>93,000원</td>
                <td>98,000원</td>
                <td>103,000원</td>
                <td rowspan="2">108,000원</td>
    	        </tr>
    	        <tr>
                <td>Group</td>
                <td>88,000원</td>
                <td>93,000원</td>
                <td>98,000원</td>
    	        </tr>
                <tr>
                <td>Partial Fee</td>
                <td>1 Day: ₩ 30,000 / 2 Days & 1 Night: ₩ 55,000 / 3 Days &2 Nights: ₩ 80,000</td>
    	        </tr>
    	        <tr>
                <td colspan="5"><p style="text-align:center; margin-bottom:0; font-size:12px"> Account: Kookmin Bank 763601-04-098592 전문인국제***(청대캠프) 
Please enter your name as the sender (ex: Peter Han) 
 </p></td> 
                <br />
    	        </tr>
    		    </tbody>
   			</table>
    		</div> <!-- .well -->
    		<br/>
    		<section>
    		 -For groups, please register online or through phone. <br/> 
    		-After the 3rd deadline (12/15, from the 16th), cancellation is 50% refund and on the day of the camp (12/27) there is no refund.  <br/>
    			-Refund requests due to errors in deposit are received up to 2 weeks after the camp. Refunds cannot be made after the refund deadline is past. <br/>
    			-Please send refund requests to imckorea1040@gmail.com. Write your name/contact/refund amount/account info. <br/>
    		</section>
    		<br/>
    	<div class="page-header">
  	<h2 style="text-align:center">Register Now!</h2>
    <p style="text-align:center; margin-bottom:0; font-size:15px">
    <a href="https://form.jotform.me/Imckorea/2017-mission-camp-registration ">https://form.jotform.me/Imckorea/2017-mission-camp-registration </a></p>
  	</div>
    	</div> <!-- .widget -->
    </div> <!-- .container -->
</div>

<div class="divider">
  <div class="container">
  	<div class="widget col-sm-12">
  		<h2>{% trans %}Directions{% endtrans %}</h2>
  	</div>

  	<div class="widget col-sm-6 col-xs-12">
  		<ul>
  			<li>{% trans %} By Car: Exit out of Hwaseo IC (화서 IC) and turn left to Boeun direction, after 4km the sign written “전문인국제협력단 (BTJ Center for All Nations)” will be on your right..{% endtrans %}
	  </ul>
  	</div>
  </div><!-- .container -->
</div> <!-- .divider -->
{% endblock content %}
