{% extends 'cbtj/page.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="container">
  <h2>1차캠프</h2>
  {{ macros.cbtj_render_stat(stat=stat1.summary, title='요약', cols=2, first_row_cols=1) }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat1.persontype, title='참가유형별', param_key='persontype', cols=3) }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat1.area, title='지부별', param_key='area_idx') }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat1.group_name, title='단체별', param_key='group_idx') }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat1.training, title='인터콥 훈련 유형별', param_key='training', cols=3) }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat1.job, title='직업/직군별', param_key='job', cols=3) }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat1.ages, title='연령별', cols=1)}}

  <h2>2차캠프</h2>
  {{ macros.cbtj_render_stat(stat=stat2.summary, title='요약', cols=2, first_row_cols=1, camp='cbtj2') }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat2.persontype, title='참가유형별', param_key='persontype', cols=3, camp='cbtj2') }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat2.area, title='지부별', param_key='area_idx', camp='cbtj2') }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat2.group_name, title='단체별', param_key='group_idx', camp='cbtj2') }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat2.training, title='인터콥 훈련 유형별', param_key='training', cols=3, camp='cbtj2') }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat2.job, title='직업/직군별', cols=3, param_key='job', camp='cbtj2') }}
  <br/>
  {{ macros.cbtj_render_stat(stat=stat2.ages, title='연령별', cols=1, camp='cbtj2')}}

  <h2>종합</h2>
  {{ macros.render_stat(stat=stat.summary, title='요약', cols=2, first_row_cols=1)}}
  <br/>
  {{ macros.render_stat(stat=stat.persontype, title='참가유형별', param_key='persontype', cols=3)}}
  <br/>
  {{ macros.render_stat(stat=stat.area, title='지부별', param_key='area_idx')}}
  <br/>
  {{ macros.render_stat(stat=stat.group_name, title='단체별', param_key='group_idx')}}
  <br/>
</div>
{% endblock %}
