{% extends 'cbtj/page.html' %}

{% block content %}
<div class="container">
  <h2>1차캠프</h2>
  <table class="table1">
    <tr>
      {% set i = 0 %}
      {% for s in stat1.summary %}
      <td>{{ s.name }}</td>
      {% if not s.cnt == 0 %}
      <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [{{ '%.2f' % (s.r_cnt / s.cnt * 100) }} %]</span> / <span style="color:green">{{ s.a_cnt }} [{{ '%.2f' % ( s.a_cnt / s.cnt * 100 ) }} %]</span></td>
      {% else %}
      <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [0.00 %]</span> / <span style="color:green">{{ s.a_cnt }} [0.00 %]</span></td>
      {% endif %}
      {% set i = i + 1 %}
      {% if i % 2 == 1 %}
      </tr><tr>
      {% endif %}
      {% endfor %}
    </tr>
  </table>
  <br/>
  <p>지부별</p>
  <table class="table1">
    <tr>
      {% set i = 0 %}
      {% for s in stat1.area %}
      <td><a href="{{ url_for('cbtj.member_list', cancel_yn=0, area_idx=s.idx) }}">{{ s.name }}</a></td>
      <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }}</span> / <span style="color:green">{{ s.a_cnt }}</span></td>
      {% set i = i + 1 %}
      {% if i % 4 == 0 %}
      </tr><tr>
      {% endif %}
      {% endfor %}
    </tr>
  </table>
  <br/>
  <h2>2차캠프</h2>
  <table class="table1">
    <tr>
      {% set i = 0 %}
      {% for s in stat2.summary %}
      <td>{{ s.name }}</td>
      {% if not s.cnt == 0 %}
      <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [{{ '%.2f' % (s.r_cnt / s.cnt * 100) }} %]</span> / <span style="color:green">{{ s.a_cnt }} [{{ '%.2f' % ( s.a_cnt / s.cnt * 100 ) }} %]</span></td>
      {% else %}
      <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }} [0.00 %]</span> / <span style="color:green">{{ s.a_cnt }} [0.00 %]</span></td>
      {% endif %}
      {% set i = i + 1 %}
      {% if i % 2 == 1 %}
      </tr><tr>
      {% endif %}
      {% endfor %}
    </tr>
  </table>
  <br/>
  <p>지부별</p>
  <table class="table1">
    <tr>
      {% set i = 0 %}
      {% for s in stat2.area %}
      <td><a href="{{ url_for('cbtj.member_list', cancel_yn=0, area_idx=s.idx, camp='cbtj2') }}">{{ s.name }}</a></td>
      <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }}</span> / <span style="color:green">{{ s.a_cnt }}</span></td>
      {% set i = i + 1 %}
      {% if i % 4 == 0 %}
      </tr><tr>
      {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
