{% extends 'cbtj/page.html' %}

{% block content %}

<div class="container">
  <section class="page-header col-lg-12">
    <h2>신청자 정보 : {{ member.name }}</h2>
  </section>
  {% if (current_user.role == 'hq' and current_user.camp == 'cbtj') or current_user.role == 'master' %}

  <section class="col-lg-4 col-sm-6" style="margin-left:0">
    <h4>재정</h4>
    <form action="{{ url_for('.pay', member_idx=member.idx) }}" method="POST">
      <table class="table1">
        <tr>
          <td>등록비</td>
          <td><input type="number" name="amount" id="amount" size="12" value="{{ payment.amount }}" required/></td>
        </tr>
        <tr>
          <td>납부여부</td>
          <td>
            <input type="radio" name="complete" id="complete2" {% if payment.complete == 2 %} checked {% endif %} required value="2"/> 완납
            <input type="radio" name="complete" id="complete1" {% if payment.complete == 1 %} checked {% endif %} value="1"/> 부분납
            <input type="radio" name="complete" id="complete0" {% if payment.complete == 0 %} checked {% endif %} value="0"/> 미납
          </td>
        </tr>
        <tr>
          <td>입금 확인자</td>
          <td><input type="text" name="staff_name" id="staff_name" size="12" value="{{ payment.staff_name }}" required/></td>
        </tr>
        <tr>
          <td>등록일(최초입금일)<br/>YYYY-MM-DD 형식으로 입력<br/>공란으로 둘 경우 오늘 날자 자동 입력</td>
          {% if not payment == None %}
          <td><input type="text" name="paydate" value="{% if not payment.paydate == None %} {{ payment.paydate.strftime('%Y-%m-%d') }}{% endif %}"></td>
          {% else %}
          <td><input type="text" name="paydate"></td>
          {% endif %}
        </tr>
        <tr>
          <td>클레임/예외사항</td>
          <td><textarea name="claim" id="claim">{{ payment.claim }}</textarea></td>
        </tr>
        <tr>
          <td colspan="2">
            <p style="text-align:center">
              <input type="submit" class="btn btn-success" value="입금 정보 입력"/>
              <a class="btn btn-warning" href="{{ url_for('.delpay', member_idx=member.idx) }}">입금정보 삭제</a>
            </p>
          </td>
        </tr>
      </table>
    </form>

    <br/>
    <h4>숙소</h4>
    <form action = "{{ url_for('.room_setting') }}" method="POST">
      <input type="hidden" name="member_idx" value="{{ member.idx }}">
      <table>
        <tr>
          <td>
            <select name="idx" class="form-control">
              <option value="">숙소</option>
              {% for r in rooms %}
              <option value="{{ r.idx }}" {% if r.idx == member.room_idx %} selected {% endif %}>{{ r.building }} {{ r.number }}</option>
              {% endfor %}
            </select>
          </td>
          <td>&nbsp;</td>
          <td>
            <input type="submit" value="배치" class="btn btn-primary">
          </td>
        </tr>
      </table>
    </form>
    <br/>
    <h4>지부</h4>
    <form action = "{{ url_for('.area_setting') }}" method="POST">
      <input type="hidden" name="member_idx" value="{{ member.idx }}">
      <table>
        <tr>
          <td>
            <select name="area_idx" id="area_idx" class="form-control">
              <option value="">지부 변경</option>
              {% for area in area_list %}
              <option value="{{ area.idx }}" {% if area.idx == member.area_idx %} selected {% endif %}>{{ area.name }}</option>
              {% endfor %}
            </select>
          </td>
          <td>&nbsp;</td>
          <td>
            <input type="submit" value="변경" class="btn btn-primary">
          </td>
        </tr>
      </table>
    </form>
    <br/>
    <h4>단체</h4>
    <form action = "{{ url_for('.group_setting') }}" method="POST">
      <input type="hidden" name="member_idx" value="{{ member.idx }}">
      <table>
        <tr>
          <td>
            <select name="group_idx" id="group_idx" class="form-control">
              <option value="">단체 변경</option>
              {% for group in group_list %}
              <option value="{{ group.idx }}" {% if group.idx == member.group_idx %} selected {% endif %}>{{ group.name }}</option>
              {% endfor %}
            </select>
          </td>
          <td>&nbsp;</td>
          <td>
            <input type="submit" value="변경" class="btn btn-primary">
          </td>
        </tr>
      </table>
    </form>
    <br/>
  </section>

  {% endif %}
  <section class="col-sm-6">
    <h4>신청서</h4>
    <table class="table1" style="width:100%">
      <tr>
        <td>이름</td>
        <td>{{ member.name }}</td>
      </tr>
      <tr>
        <td>지부</td>
        <td>{{ member.area.name }}</td>
      </tr>
      <tr>
        <td>연락처</td>
        <td>{{ member.contact }}</td>
      </tr>
      <tr>
        <td>출석교회</td>
        <td>{{ member.church }}</td>
      </tr>
      <tr>
        <td>생년월일</td>
        <td>{{ member.birth }}</td>
      </tr>
      <tr>
        <td>성별</td>
        <td>{% if member.sex == 'M' %} 남 {% else %} 여 {% endif %}</td>
      </tr>
      <tr>
        <td>단체버스 이용 여부</td>
        <td>{% if member.bus_yn %} 예 {% else %} 아니오 {% endif %}</td>
      </tr>
      <tr>
        <td>MIT 참여 여부</td>
        <td>{% if member.mit_yn %} 예 {% else %} 아니오 {% endif %}</td>
      </tr>
      <tr>
        <td>선교캠프 참여 경험</td>
        <td>{% if member.newcomer_yn %} 없음 {% else %} 있음 {% endif %}</td>
      </tr>
      <tr>
        <td>전체참석 여부</td>
        <td>{% if member.fullcamp_yn %} 전체참석 {% else %} 부분참석 {% endif %}</td>
      </tr>
      <tr>
        <td>캠프 참석 기간</td>
        <td>{{ member.date_of_arrival }} ~ {{ member.date_of_leave }}</td>
      </tr>
      {% if member.persontype == '청년' %}
      <tr>
        <td>직업</td>
        <td>{{ member.membership.job }}</td>
      </tr>
      {% elif member.persontype == '대학생' %}
      <tr>
        <td>캠퍼스</td>
        <td>{{ member.membership.campus }}</td>
      </tr>
      <tr>
        <td>전공</td>
        <td>{{ member.membership.major }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>인터콥 훈련 여부</td>
        <td>
          {% for t in member.membership.training %}
            {{ t }},
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>통역 필요</td>
        <td>{{ member.language }}</td>
      </tr>
      <tr>
        <td>등록 날자</td>
        <td>{{ member.regdate }}</td>
      </tr>
      <tr>
        <td>메모</td>
        <td>{{ member.memo }}</td>
      </tr>

      <tr>
        <td colspan="2">
          <p style="text-align:center">
          <a class="btn btn-primary" href="{{ url_for('.member_edit', member_idx=member.idx, camp=camp) }}">수정</a>&nbsp;&nbsp;
          {% if member.cancel_yn == 0 %}
          <a class="btn btn-default" href="{{ url_for('.member_cancel', member_idx=member.idx) }}">신청취소</a>
          {% elif member.cancel_yn == 1 %}
          <a class="btn btn-default" href="{{ url_for('.member_recover', member_idx=member.idx) }}">신청복원</a>
          {% endif %}
          </p>
        </td>
      </tr>
    </table>
    <br/>
  </section>
</div>
{% endblock %}
