{% extends 'page.html' %}
{% block navs %}
<ul class="nav navbar-nav">
	<li class="dropdown">
		<a href="{{ url_for('cbtj.home', cbtj2='1') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			통계&nbsp;<span class="caret">
		</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('cbtj.home', cbtj1='1') }}">청대청직(1차)</a></li>
			<li><a href="{{ url_for('cbtj.home', cbtj2='1') }}">여남시청직(2차)</a></li>
			<li><a href="{{ url_for('cbtj.home', cbtj1='1', cbtj2='1', all='1') }}">전체</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			신청자목록&nbsp;<span class="caret">
		</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('cbtj.member_list', cancel_yn=0, camp='cbtj') }}">청대청직(1차)</a></li>
			<li><a href="{{ url_for('cbtj.member_list', cancel_yn=0, camp='cbtj2') }}">여남시청직(2차)</a></li>
			<li><a href="{{ url_for('cbtj.member_list', cancel_yn=0) }}">전체목록</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			취소자목록&nbsp;<span class="caret">
		</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('cbtj.member_list', camp='cbtj', cancel_yn=1) }}">청대청직(1차)</a></li>
			<li><a href="{{ url_for('cbtj.member_list', camp='cbtj2', cancel_yn=1) }}">여남시청직(2차)</a></li>
			<li><a href="{{ url_for('cbtj.member_list', cancel_yn=1) }}">전체목록</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
			지난자료&nbsp;<span class="caret">
		</a>
		<ul class="dropdown-menu">
			<li><a href="{{ url_for('.old_stat', year=2015, term=2) }}">지난통계</a></li>
			<li><a href="{{ url_for('.old_list', camp='cbtj', year=2015, term=2) }}">지난신청자목록</a></li>
		</ul>
	</li>
<!--
	<li><a href="#">통계표</a></li>
-->
</ul>
{% endblock %}
