{% extends 'page.html' %}
{% block content %}
<div class="container">
	<div class="widget col-sm-6 col-xs-12">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/hoLuQJbWXLE"></iframe>
		</div>
		<br/>
	</div> <!-- .widget -->

	<div class="widget col-sm-6 col-xs-12">
		<div class="well well-sm">
			<h4>등록비 안내 <span style="font-size:14px"><a href="{{ url_for('camp') }}">자세히 보기</a></span></h4>
			<table class="table" style="margin-bottom:0">
        <tbody>
	        <tr>
            <td></td>
            <td>1차마감<br>11/30(월)</td>
            <td>2차마감<br>12/14(월)</td>
            <td>3차마감<br>12/28(월)</td>
						<td>4차마감<br>1/6(수)</td>
            <td>캠프당일<br>1/7(목)</td>
	        </tr>
	        <tr>
            <td>개인</td>
            <td>64,000</td>
            <td>68,000</td>
            <td>73,000</td>
						<td>78,000</td>
            <td>80,000</td>
	        </tr>
	        <tr>
            <td>단체</td>
						<td>61,000</td>
            <td>65,000</td>
            <td>70,000</td>
						<td>75,000</td>
            <td>77,000</td>
	        </tr>
	        <tr>
            <td colspan="6">
							<p style="text-align:center; margin-bottom:0; font-size:12px">1박2일_2(목)~3(금) 56,000원 / 1박2일_3(금)~4(토) 63,000원</p>
						</td>
	        </tr>
					<tr>
						<td colspan="6">
							<p style="text-align:center; margin-bottom:0; font-size:12px">키즈선교캠프(5~7세), 어린이캠프(초등학생) 55,000원(당일등록은 없습니다)</p>
						</td>
					</tr>
		    </tbody>
			</table>
		</div>

		<section style="font-size: 12px;">
			- 등록비 입금계좌 : 국민은행 763601-04-098589<br/>
			- 예금주 : 전문인국제***(여남시캠프)<br/>
			*입금자 명에 참가자의 지역과 이름 기입해 주세요. 예)서울 홍길동<br/>
		</section>
		<br/>
		<section style="font-size: 12px;">
			- 환불 (문의: intercp-wscamp@hanmail.net)<br/>
			* 3차마감 전까지 취소시 30% 공제 후 환불<br/>
			* 3차마감 이후 ~ 캠프 전날(1/6)까지 취소시 50% 공제 후 환불<br/>
			* 캠프 당일은 환불되지 않습니다.<br/>
			환불 접수는 intercp-wscamp@hanmail.net로 해주세요.<br/>
			성명/연락처/환불금액/계좌(은행명, 예금주)를 빠짐없이 기록해주세요.<br/>
		</section>
	</div> <!-- .widget -->
</div> <!-- .container -->

<div class="divider">
  <div class="container">
  	<div class="widget col-sm-12">
  		<h2>프로그램</h2>
  	</div>
		<div class="widget col-sm-6 col-xs-12">
			<h4>주제강의</h4>
			<p>한 해 동안 일어난 여러 사건들을 성경적으로 해석하고 시대를 조명하며 역사의 주관자로서 열방을 경영 하시는 하나님의 나라와 거룩한 비전을 제시하는 최바울 선교 사의 탁월한 강의</p>

			<h4>간증</h4>
			<p>캠퍼스 또는 선교지 현장에서 사역하고 있는 청년들과 선교현장에서 제자양육, 교회개척 사역을 수행한 선교사님들의 간증의 시간</p>
		</div>

		<div class="widget col-sm-6 col-xs-12">
			<h4>선택식 강의</h4>
			<p>선교현장에서 제자양육, 교회개척 사역을 수행한 선교 사들의 삶과 간증의 시간</p>

			<h4>영상 미디어</h4>
			<p>한 해 동안 일어난 지구촌의 이슈들을 기독 교적 관점에서 재조명하고 한국교회가 감당해야 할 과업들을 영상을 통해 경험하는 시간</p>

			<h4>BTJ Festival</h4>
			<p>다양한 장르의 공연과 열방 퍼레이드를 통해 모든 민족을 하나님께 올려 드리며 BTJ세대로 일어나는 축제의 시간</p>
		</div>
  </div><!-- .container -->
</div> <!-- .divider -->

<div class="divider">
  <div class="container">
  	<div class="widget col-sm-12">
  		<h2>오시는 길</h2>
  	</div>

  	<div class="widget col-sm-6 col-xs-12">
  		<ul>
  			<li>자차이용시: 화서 IC나와 보은 방향으로 좌회전 후 약 4Km내려오시면 우측에 전문인국제협력단(열방센터)표지판이 있습니다.</li>
				<li>
    			KTX오송역에서 열방센터까지 <span style="font-weight:bold">신청 시</span> 픽업차량 이용가능합니다. (KTX서울역→오송역 45분 소요, 오송역→열방센터 약 50분 소요)<br/>
    		</li>
  		</ul>
  		<p>자세한 사항은 <a href="http://www.btjcenter.com">BTJ열방센터 홈페이지</a>를 참고 바랍니다.</p>
      <img src="{{ url_for('static', filename='img/btjcenter_map.png') }}" style="width:100%" alt="열방센터 약도"/>
  	</div>
  </div><!-- .container -->
</div> <!-- .divider -->
{% endblock content %}
