{% extends 'page.html' %}
{% block content %}
<div class="container">
  <article>
    <h2>초대의 글</h2>
    <section class="article-contents" style="line-height:1.8em">
      <p>
        <br/>
        세계는 갈수록 어두워지고 있으며 글로벌 패러독스는 심화되어가고 있습니다.<br/>
        과학이 엄청 발달했다고 하지만 지진은 비웃듯이 갈수록 빈번해지고 있습니다.<br/>
        경제는 발전하는데 풍요 속에 빈곤은 갈수록 심화되어가고 있습니다.<br/>
        세계를 통합하려고 하지만 지구촌 곳곳에 분열은 갈수록 심화되고 있습니다.<br/>
        종교가 인류 평화를 위한다고 하지만 지구적 종교갈등은 갈수록 심화되고 있습니다.<br/>
        지식정보 시대 스마트해졌다고 말하지만 사람들은 갈수록 바보가 되어가고 있습니다.<br/>
        평생 배우며 지식을 쌓지만 사람들은 갈수록 지혜를 잃어가고 있습니다.<br/>
        행복을 위해 열심히 일하지만 사람들은 갈수록 불행해지고 있습니다.<br/>
        세계는 갈수록 어두어지고 있으며 종말론적 현상이 지구에 충만해지고 있습니다.<br/>
        시장(market)은 절대 권력을 행사하며 갈수록 강하여 무서운 짐승이 되어가고 있습니다.<br/>
        시장의 명령에 따라 사람들은 무한경쟁의 트랙에서 생존을 위해 죽음의 질주를 하고 있습니다.<br/>
        시장 논리의 지배로 강자와 약자 가진자와 못 가진자의 간격은 갈수록 심화되고 있으며<br/>
        장래에 대한 불확실성은 갈수록 심화되고 있습니다.<br/>
        선과 악, 진리와 거짓, 지혜와 속임수, 정의와 분노, 사랑과 음란이 무엇인지 사람들은 갈수록 혼동하고 있습니다.<br/>
        기성 세대는 오랜 전쟁에서 돌아온 노장처럼 고독과 외로움 속에 신음하고 있으며 새로운 세대는 죄와 혼돈과 좌절,<br/>
        어두움과 깊은 소외로 방황하고 있습니다.<br/>
        <br/>
      </p>
      <p>
        <span style="font-weight:bold; font-size:16px;">사랑하는 형제자매 여러분!</span><br/>
        갈수록 거세지는 세상의 권세앞에 두려워하는 분이 있습니까?<br/>
        다가오는 미래의 불확실성 앞에 홀로 두려워하는 분 있습니까?<br/>
        하늘과 땅의 모든 권세를 가지신 주님 앞에 나아가야 합니다.<br/>
        어두움 속에서 죄와 홀로 외롭게 싸우고 있습니까?<br/>
        십자가의 정사와 권세로 멸하시고 승리하신 주님을 기억해야 합니다.<br/>
        우리 함께 주님의 보좌앞에 나아가야 합니다.<br/>
        우리 함께 무릎꿇고 기도해야 합니다<br/>
        우리에게 주님의 능력이 필요합니다.<br/>
        우리에게 세상신을 제어하는 예수 그리스도 이름의 권세가 필요합니다.<br/>
        <br/>
      </p>
      <p>
        <span style="font-weight:bold; font-size:16px;">주님의 이름으로 선교캠프에 여러분을 초대합니다.</span><br/>
        성령의 권능이 여러분에게 임할것입니다.<br/>
        회복과 치유의 능력이 여러분의 몸과 영혼을 새롭게 할 것입니다!<br/>
        <br/>
      </p>
    </section>
  </article>
</div>
{% endblock content %}
