{% extends 'ws/page.html' %}
{% import 'macros.html' as macros %}

{% block content %}
<div class="container">
  {{ macros.render_stat(stat=stat, metrics=metrics)}}
  {% if current_user.role in ['hq', 'master'] %}
  <p>날자별 신청 현황</p>
  <img src="data:image/png;base64,{{ chart }}" /><br/>
  <br/>
  <p>일자별 통계</p>
  <table class="table1">
    <tr>
      <th>1월 5일</th>
      <th>1월 6일</th>
      <th>1월 7일</th>
    </tr>
    <tr>
    {% for s in attend_stat %}
      {% if s.cnt != 0 %}
      <td>{{ s.cnt }} / <span style="color:red">{{ s.r_cnt }}</span> / <span style="color:green">{{ s.a_cnt }}</span></td>
      {% endif %}
    {% endfor %}
    </tr>
  </table>
  <br/>
  <p>참석일수별 통계</p>
  <table class="table1">
    <tr>
      <th>취소</th>
      <th>1일</th>
      <th>2일</th>
      <th>3일</th>
    </tr>
    <tr>
    {% for s in partial_stat %}
      <td>{{ s[1] }}</td>
    {% endfor %}
    </tr>
  </table>
  <br/>
  {% endif %}
  {% if current_user.role == 'master' %}
  <a href="{{ url_for('.fix_attend_error') }}">전체참석 참가자 날자 선택 오류 수정</a>
  {% endif %}
</div>
{% endblock %}
