{% extends 'page.html' %}

{% block content %}
<div class="container">
  <div class="page-header">
    {% if not group_yn %}
    <h2>개인 신청 수정(1차캠프: 12.28~31)</h2>
    {% else %}
    <h2>멤버 신청서 수정(1차캠프: 12.28~31)</h2>
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-6">
    <form class="form" role="form" id="form" action="#" method="POST">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td><label for="userid">이메일</label></td>
            <td colspan="3">{{ member.userid }}</td>
          </tr>
          {% if not group_yn %}
          <tr>
            <td><label for="pwd">비밀번호</label></td>
            <td colspan="3"><input type="password" name="pwd" id="pwd" size="12" placeholder="변경하려면 입력하세요..."/></td>
          </tr>
          <tr>
            <td><label for="pwd2">비밀번호 확인</label></td>
            <td colspan="3"><input type="password" name="pwd2" id="pwd2" size="12"/><div id="pwd_alert"></div></td>
          </tr>
          {% endif %}
          <tr>
            <td><label for="name">이름</label></td>
            <td colspan="3"><input type="text" name="name" id="name" size="12" value="{{ member.name }}"/></td>
          </tr>
          {% if not group_yn %}
          <tr>
            <td><label for="area_idx">등록지부</label></td>
            <td colspan="3">
              <select name="area_idx" id="area_idx">
                <option value="">선택하세요</option>
                  {% for area in area_list %}
                    {% if area.idx == member.area_idx %}
                      <option value="{{ area.idx }}" selected>{{ area.name }}</option>
                    {% else %}
                      <option value="{{ area.idx }}">{{ area.name }}</option>
                    {% endif %}
                  {% endfor %}
              </select>
            </td>
          </tr>
          {% else %}
          <input type="hidden" name="area_idx" id="area_idx" value="{{ member.area_idx }}"/>
          {% endif %}
          <tr>
            <td><label for="sex">성별</label></td>
            <td colspan="3">
              <input type="radio" name="sex" id="sex_m" value="M" {% if member.sex == 'M' %} checked {% endif %}/>&nbsp;&nbsp;<label for="sex_m">남자</label>&nbsp;
              <input type="radio" name="sex" id="sex_f" value="F" {% if member.sex == 'F' %} checked {% endif %}/>&nbsp;&nbsp;<label for="sex_f">여자</label>&nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="birthyr">생년월일</label></td>
            <td colspan="3">
              <input type="text" name="birth" id="birth" size="12" value="{{ member.birth }}" />
            </td>
          </tr>
          <tr>
            <td><label for="hp">연락처</label></td>
            <td colspan="3">
              <input type="text" name="contact" id="contact" size="12" value="{{ member.contact }}" />
            </td>
          </tr>
          <tr>
            <td><label for="church">소속교회</label></td>
            <td colspan="3"><input type="text" name="church" id="church" size="12" value="{{ member.church }}"/></td>
          </tr>

          <tr>
            <td><label for="persontype">참가 구분</label></td>
            <td colspan="3">
              <input type="radio" name="persontype" id="youngtype" value="청년" {% if member.persontype == "청년" %} checked {% endif %}/><label for="youngtype">&nbsp;&nbsp;청년</label><br/>
              <input type="radio" name="persontype" id="stafftype" value="스탭" {% if member.persontype == "스탭" %} checked {% endif %}/><label for="stafftype">&nbsp;&nbsp;청년 스탭</label>
            </td>
          </tr>
          <tr id="young_job">
            <td><label for="job">직업/직종</label></td>
            <td colspan="3"><select name="job" id="job">
              <option value="정치행정" {% if membership.job == "정치행정" %} selected {% endif %}>정치행정</option>
              <option value="법률" {% if membership.job == "법률" %} selected {% endif %}>법률</option>
              <option value="보건의료" {% if membership.job == "보건의료" %} selected {% endif %}>보건의료</option>
              <option value="종교" {% if membership.job == "종교" %} selected {% endif %}>종교</option>
              <option value="사회복지" {% if membership.job == "사회복지" %} selected {% endif %}>사회복지</option>
              <option value="문화예술스포츠" {% if membership.job == "문화예술스포츠" %} selected {% endif %}>문화예술스포츠</option>

              <option value="경제금융" {% if membership.job == "경제금융" %} selected {% endif %}>경제금융</option>
              <option value="연구기술" {% if membership.job == "연구기술" %} selected {% endif %}>연구기술</option>
              <option value="교육" {% if membership.job == "교육" %} selected {% endif %}>교육</option>
              <option value="사무관리" {% if membership.job == "사무관리" %} selected {% endif %}>사무관리</option>
              <option value="판매서비스" {% if membership.job == "판매서비스" %} selected {% endif %}>판매서비스</option>

              <option value="기계기능" {% if membership.job == "기계기능" %} selected {% endif %}>기계기능</option>
              <option value="취업준비" {% if membership.job == "취업준비" %} selected {% endif %}>취업준비</option>
              <option value="군인" {% if membership.job == "군인" %} selected {% endif %}>군인</option>
              <option value="기타" {% if membership.job == "기타" %} selected {% endif %}>기타</option>
            </select></td>
          </tr>
          <tr>
            <td><label for="bus_yn">단체버스 이용</label></td>
            <td colspan="3">
              <input type="radio" name="bus_yn" id="bus_y" value="1" {% if member.bus_yn %} checked {% endif %}/>&nbsp;&nbsp;<label for="bus_y">예</label>&nbsp;
              <input type="radio" name="bus_yn" id="bus_n" value="0" {% if not member.bus_yn %} checked {% endif %}/>&nbsp;&nbsp;<label for="bus_n">아니오</label>&nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="mit_yn">FO/MIT 참가</label></td>
            <td colspan="3">
              <input type="radio" name="mit_yn" id="mit_y" value="1" {% if member.mit_yn %} checked {% endif %}/>&nbsp;&nbsp;<label for="mit_y">예</label>&nbsp;
              <input type="radio" name="mit_yn" id="mit_n" value="0" {% if not member.mit_yn %} checked {% endif %}/>&nbsp;&nbsp;<label for="mit_n">아니오</label>&nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="fullcamp_yn">참가형태</label></td>
            <td colspan="3">
              <input type="radio" name="fullcamp_yn" id="fullcamp_y" value="1" {% if member.fullcamp_yn %} checked {% endif %} />&nbsp;&nbsp;<label for="fullcamp_y">전체참가</label>&nbsp;
              <input type="radio" name="fullcamp_yn" id="fullcamp_n" value="0" {% if not member.fullcamp_yn %} checked {% endif %}/>&nbsp;&nbsp;<label for="fullcamp_n">부분참가</label>&nbsp;
            </td>
          </tr>
          <tr id="bubun">
            <td>캠프참석기간</td>
            <td colspan="3"><select name="date_of_arrival" id="date_of_arrival">
              <option {% if member['date_of_arrival']|string() == "2015-12-28" %} selected {% endif %}>2015-12-28</option>
              <option {% if member['date_of_arrival']|string() == "2015-12-29" %} selected {% endif %}>2015-12-29</option>
              <option {% if member['date_of_arrival']|string() == "2015-12-30" %} selected {% endif %}>2015-12-30</option>
              <option {% if member['date_of_arrival']|string() == "2015-12-31" %} selected {% endif %}>2015-12-31</option>
            </select>&nbsp;~&nbsp;
            <select name="date_of_leave" id="date_of_leave">
              <option {% if member['date_of_leave']|string() == "2015-12-28" %} selected {% endif %}>2015-12-28</option>
              <option {% if member['date_of_leave']|string() == "2015-12-29" %} selected {% endif %}>2015-12-29</option>
              <option {% if member['date_of_leave']|string() == "2015-12-30" %} selected {% endif %}>2015-12-30</option>
              <option {% if member['date_of_leave']|string() == "2015-12-31" %} selected {% endif %}>2015-12-31</option>
            </select></td>
          </tr>
          <tr>
            <td><label for="newcomer_yn">선교캠프가<br/>처음이신가요?</label></td>

            <td colspan="3">
              <input type="radio" name="newcomer_yn" id="newcomer_y" value="1" {% if member.newcomer_yn %} checked {% endif %}/>&nbsp;&nbsp;<label for="newcomer_y">예</label>&nbsp;
              <input type="radio" name="newcomer_yn" id="newcomer_n" value="0" {% if not member.newcomer_yn %} checked {% endif %}/>&nbsp;&nbsp;<label for="newcomer_n">아니오</label>&nbsp;
            </td>

          </tr>
          <tr>
            <td>인터콥 훈련여부</td>
            <td colspan="3">
              <table>
                <tr>
                  <td><input type="checkbox" name="training" id="vschool" class="membership" value="비전스쿨" {% if "비전스쿨" in membership.training %} checked {% endif %}/> &nbsp;<label for="vschool">비전스쿨</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="btjschool" class="membership" value="BTJ스쿨" {% if "BTJ스쿨" in membership.training %} checked {% endif %}/> &nbsp;<label for="btjschool">BTJ스쿨</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="worldmission" class="membership" value="월드미션" {% if "월드미션" in membership.training %} checked {% endif %}/> &nbsp;<label for="worldmission">월드미션</label>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="training" id="missioncamp" class="membership" value="선교캠프" {% if "선교캠프" in membership.training %} checked {% endif %}/> &nbsp;<label for="missioncamp">선교캠프</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="mit" class="membership" value="MIT" {% if "MIT" in membership.training %} checked {% endif %}/> &nbsp;<label for="mit">MIT</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="fo" class="membership" value="FO" {% if "FO" in membership.training %} checked {% endif %}/> &nbsp;<label for="fo">FO</label>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="training" class="membership" id="cbtj" value="C-BTJ" {% if "C-BTJ" in membership.training %} checked {% endif %}/> &nbsp;<label for="cbtj">C-BTJ</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" class="membership" id="ytm" value="Y-TM" {% if "Y-TM" in membership.training %} checked {% endif %}/> &nbsp;<label for="ytm">Y-TM</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="sm" class="membership" value="SM" {% if "SM" in membership.training %} checked {% endif %}/> &nbsp;<label for="sm">SM</label>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="none" id="none" value="없음" {% if "없음" in membership.training %} checked {% endif %}/> &nbsp;<label for="none">없음</label>&nbsp;&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><label for="language">통역 필요</label></td>
            <td colspan="3"><select name="language" id="language">
              <option value="필요 없음" {% if member.language == "필요 없음" %} selected {% endif %}>필요 없음</option>
              <option value="영어" {% if member.language == "영어" %} selected {% endif %}>영어</option>
              <option value="중국어" {% if member.language == "중국어" %} selected {% endif %}>중국어</option>
              <option value="일본어" {% if member.language == "일본어" %} selected {% endif %}>일본어</option>
              <option value="몽골어" {% if member.language == "몽골어" %} selected {% endif %}>몽골어</option>
            </select></td>
          </tr>
          <tr>
            <td><label for="memo">메모</label></td>
            <td colspan="3"><textarea cols="20" rows="6" name="memo" id="memo">{{ member.memo }}</textarea></td>
          </tr>
          <tr>
            <td colspan="4">
              <p style="text-align:center"><input type="button" onclick="submit_form()" class="btn btn-default" value="수정 완료" /></p>
            </td>
          </tr>
        </table><!--/table-->
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='js/reg-individual-edit.js') }}"></script>
{% endblock %}
