{% extends 'youth/page.html' %}

{% block content %}
<div class="container">
  <section class="page-header">
    <h2>신청 취소</h2>
  </section>
  <div class="col-xs-12 col-sm-6">
    <div class="well">
      <form class="form form-group" role="form" id="form" action="#" method="POST">
        <label for="cancel_reason">취소 사유를 적어주세요</label>
        <textarea class="form-control" name="cancel_reason" id="cancel_reason" rows="8" cols="30"></textarea>
        <p><input type="submit" class="btn btn-default" value="신청 취소"/></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
