{% extends 'cmc/page.html' %}

{% block content %}
<div class="container">
  <section class="page-header">
    {% if not group_yn %}
    <h2>개인 신청</h2>
    {% else %}
    <h2>멤버 신청서 작성</h2>
    {% endif %}
  </section>

  <div class="col-xs-12 col-sm-6">
		<form class="form" role="form" id="form" action="#" method="POST">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td><label for="userid">이메일</label></td>
            <td colspan="3"><input type="email" name="userid" id="userid" size="12"/><input type="button" value="중복확인" onclick="check_userid()"/><div id="email_alert"></div></td>
          </tr>
          {% if not group_yn %}
          <tr>
            <td><label for="pwd">비밀번호</label></td>
            <td colspan="3"><input type="password" name="pwd" id="pwd" size="12"/></td>
          </tr>
          <tr>
            <td><label for="pwd2">비밀번호 확인</label></td>
            <td colspan="3"><input type="password" name="pwd2" id="pwd2" size="12"/><div id="pwd_alert"></div></td>
          </tr>
          {% endif %}
          <tr>
            <td><label for="name">이름</label></td>
            <td colspan="3"><input type="text" name="name" id="name" size="12"/></td>
          </tr>
          {% if not group_yn %}
          <tr>
            <td><label for="area_idx">등록지부</label></td>
            <td colspan="3">
              <select name="area_idx" id="area_idx">
                <option value="">선택하세요</option>
                {% for area in area_list %}
                <option value="{{ area.idx }}">{{ area.name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          {% endif %}
          <tr>
            <td><label for="sex">성별</label></td>
            <td colspan="3">
              <input type="radio" name="sex" id="sex_m" value="M" />&nbsp;&nbsp;<label for="sex_m">남자</label>&nbsp;
              <input type="radio" name="sex" id="sex_f" value="F" />&nbsp;&nbsp;<label for="sex_f">여자</label>&nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="birthyr">생년월일</label></td>
            <td colspan="3">
              <select id="birthyr" name="birthyr">
                <option value="">년도</option>
                {% for year in date_select_list.yr_list %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
              </select>-
              <select id="birthm" name="birthm">
                <option value="">월</option>
                {% for month in date_select_list.m_list %}
                <option value="{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>-
              <select id="birthd" name="birthd">
                <option value="">일</option>
                {% for day in date_select_list.d_list %}
                <option value="{{ day }}">{{ day }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="hp">연락처</label></td>
            <td colspan="3"><select name="hp" id="hp">
              <option value="010">010</option>
              <option value="011">011</option>
              <option value="016">016</option>
              <option value="017">017</option>
              <option value="018">018</option>
              <option value="019">019</option>
              <option value="070">070</option>
            </select>
            -<input name="hp2" id="hp2" type="text" size="4"/>
            -<input name="hp3" id="hp3" type="text" size="4"/></td>
          </tr>
          <tr>
            <td><label for="church">소속교회</label></td>
            <td colspan="3"><input type="text" name="church" id="church" size="12"/></td>
          </tr>

          <tr>
            <td><label for="persontype">참가 구분</label></td>
            <td colspan="3">
              <input type="radio" name="persontype" id="youngtype" value="청년"/><label for="youngtype">&nbsp;&nbsp;청년</label><br/>
              <input type="radio" name="persontype" id="studenttype" value="대학생"/><label for="studenttype">&nbsp;&nbsp;대학생</label><br/>
              <input type="radio" name="persontype" id="go3type" value="고3"/><label for="go3type">&nbsp;&nbsp;고3</label><br/>
              <input type="radio" name="persontype" id="stafftype" value="스탭"/><label for="stafftype">&nbsp;&nbsp;청년/대학생 스탭</label>
            </td>
          </tr>
          <tr id="young_job">
            <td><label for="job">직업/직종</label></td>
            <td colspan="3"><select name="job" id="job">
              <option value="정치행정">정치행정</option>
              <option value="법률">법률</option>
              <option value="보건의료">보건의료</option>
              <option value="종교">종교</option>
              <option value="사회복지">사회복지</option>
              <option value="문화예술스포츠">문화예술스포츠</option>

              <option value="경제금융">경제금융</option>
              <option value="연구기술">연구기술</option>
              <option value="교육">교육</option>
              <option value="사무관리">사무관리</option>
              <option value="판매서비스">판매서비스</option>

              <option value="기계기능">기계기능</option>
              <option value="취업준비">취업준비</option>
              <option value="군인">군인</option>
              <option value="기타">기타</option>
            </select></td>
          </tr>
          <tr id="campus_major">
            <td><label for="campus">캠퍼스</label></td>
            <td colspan="3">
              <label for="campus">학교</label><input type="text" name="campus" id="campus"/><br/>
              <label for="major">학과</label><input type="text" name="major" id="major"/><br/>
            </td>
          </tr>
          <tr>
            <td><label for="bus_yn">단체버스 이용</label></td>
            <td colspan="3">
              <input type="radio" name="bus_yn" id="bus_y" value="1" />&nbsp;&nbsp;<label for="bus_y">예</label>&nbsp;
              <input type="radio" name="bus_yn" id="bus_n" value="0" />&nbsp;&nbsp;<label for="bus_n">아니오</label>&nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="mit_yn">FO/MIT 참가</label></td>
            <td colspan="3">
              <input type="radio" name="mit_yn" id="mit_y" value="1" />&nbsp;&nbsp;<label for="mit_y">예</label>&nbsp;
              <input type="radio" name="mit_yn" id="mit_n" value="0" />&nbsp;&nbsp;<label for="mit_n">아니오</label>&nbsp;
            </td>
          </tr>
          <tr>
            <td><label for="fullcamp_yn">참가형태</label></td>
            <td colspan="3">
              <input type="radio" name="fullcamp_yn" id="fullcamp_y" value="1" selected />&nbsp;&nbsp;<label for="fullcamp_y">전체참가</label>&nbsp;
              <input type="radio" name="fullcamp_yn" id="fullcamp_n" value="0" />&nbsp;&nbsp;<label for="fullcamp_n">부분참가</label>&nbsp;
            </td>
          </tr>
          <tr id="bubun">
            <td>캠프참석기간</td>
            <td colspan="3"><select name="date_of_arrival">
              <option selected value="2015-12-28">2015-12-28</option>
              <option value="2015-12-29">2015-12-29</option>
              <option value="2015-12-30">2015-12-30</option>
              <option value="2015-12-31">2015-12-31</option>
            </select>&nbsp;~&nbsp;
            <select name="date_of_leave">
              <option value="2015-12-28">2015-12-28</option>
              <option value="2015-12-29">2015-12-29</option>
              <option value="2015-12-30">2015-12-30</option>
              <option selected value="2015-12-31">2015-12-31</option>
            </select></td>
          </tr>
          <tr>
            <td><label for="newcomer_yn">선교캠프가<br/>처음이신가요?</label></td>
            <td colspan="3">
              <input type="radio" name="newcomer_yn" id="newcomer_y" value="1" />&nbsp;&nbsp;<label for="newcomer_y">예</label>&nbsp;
              <input type="radio" name="newcomer_yn" id="newcomer_n" value="0" />&nbsp;&nbsp;<label for="newcomer_n">아니오</label>&nbsp;
            </td>
          </tr>
          <tr>
            <td>인터콥 훈련여부</td>
            <td colspan="3">
              <table>
                <tr>
                  <td><input type="checkbox" name="training" id="vschool" class="membership" value="비전스쿨"/> &nbsp;<label for="vschool">비전스쿨</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="btjschool" class="membership" value="BTJ스쿨"/> &nbsp;<label for="btjschool">BTJ스쿨</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="worldmission" class="membership" value="월드미션"/> &nbsp;<label for="worldmission">월드미션</label>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="training" id="missioncamp" class="membership" value="선교캠프"/> &nbsp;<label for="missioncamp">선교캠프</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="mit" class="membership" value="MIT"/> &nbsp;<label for="mit">MIT</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="fo" class="membership" value="FO"/> &nbsp;<label for="fo">FO</label>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="training" id="sm" class="membership" value="SM"/> &nbsp;<label for="sm">SM</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" class="membership" id="intercpcampus" value="인터콥캠퍼스"/> &nbsp;<label for="intercpcampus">인터콥캠퍼스</label>&nbsp;&nbsp;</td>
                  <td><input type="checkbox" name="training" id="none" value="없음"/> &nbsp;<label for="none">없음</label>&nbsp;&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td><label for="language">통역 필요</label></td>
            <td colspan="3"><select name="language" id="language">
              <option value="필요 없음">필요 없음</option>
              <option value="영어">영어</option>
              <option value="중국어">중국어</option>
              <option value="일본어">일본어</option>
              <option value="몽골어">몽골어</option>
            </select></td>
          </tr>
          <tr>
            <td><label for="memo">메모</label></td>
            <td colspan="3"><textarea cols="20" rows="6" name="memo" id="memo"></textarea></td>
          </tr>
          <tr>
            <td colspan="4">
              <p style="text-align:center"><input type="button" onclick="submit_form()" class="btn btn-default" value="신청 완료" /></p>
            </td>
          </tr>
        </table><!--/table-->
      </div>
      {% if group_yn %}
      <input type="hidden" name="group_idx" value="{{ group.idx }}"/>
      <input type="hidden" name="area_idx" value="{{ group.area_idx }}"/>
      {% endif %}
			<input type="hidden" name="contact" id="contact"/>
			<input type="hidden" name="birth" id="birth"/>
			<input type="hidden" name="campidx" id="campidx" value="{{ campidx }}"/>
      <input type="hidden" name="camp" id="camp" value="{{ camp }}"/>
		</form>
  </div>
</div> <!-- .container -->
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='cmc/js/reg-individual.js') }}"></script>
{% endblock %}
