{% extends 'kids/page.html' %}
{% block content %}
<img src="{{ url_for('static', filename='kids/img/intro.jpg') }}" style="width:100%"/>
<div style="background: url({{ url_for('static', filename='youth/img/program_bg.png') }}) #11477a no-repeat; background-position: top; background-size:100% auto">
	<div class="container" style="padding-top:45px; padding-bottom:45px;">
		<div class="row">
      <div class="col-xs-12">
        <h2 style="color: #faf8f4;">프로그램</h2>
      </div>

      <div class="col-sm-6 col-xs-12">
        <span style="color: #70c6fd;">KING! (복음)</span><br/>
        <span style="color: #efefef; font-size: 15px;">나의 죄의 값을 지불하시고 영원한 생명을 주신 예수님! 예수님이 나의 왕이십니다!! </span><br/>
        <br/>

        <span style="color: #70c6fd;">KINGDOM! (하나님 나라!)</span><br/>
        <span style="color: #efefef; font-size: 15px;">모든 민족과 백성을 구원 원하시는 하나님. 이것을 위해 우리 하나님은 오늘도 쉬지 않으시고 일하시며 우리를 통해서 이 일을 이루시기를 원하십니다. </span><br/>
        <br/>

        <span style="color: #70c6fd;">KINGDOM-KIDS (하나님 나라의 어린이)</span><br/>
        <span style="color: #efefef; font-size: 15px;">우리는 세상에서 살지만 하늘나라에 속한 어린이입니다. 우리가 하나님나라를 이뤄나갈 것입니다. 하나님나라를 선포하며 그 나라를 위해 살 것입니다. 바로 나를 하나님께서 부르셨습니다. </span><br/>
        <br/>

        <span style="color: #70c6fd;">Ready Action! (I-BTJ운동)</span><br/>
        <span style="color: #efefef; font-size: 15px;">학교에서 교회에서 가정에서 미전도 종족을 위해서 기도하는 KIDS-BTJ 운동을 일으켜요. 나의 죄의 값을 지불하시고 영원한 생명을 주신 예수님! 예수님이 나의 왕이십니다!! </span><br/>
        <br/>
      </div>

      <div class="col-sm-6 col-xs-12">
        <span style="color: #70c6fd;">BTJ월드</span><br/>
        <span style="color: #efefef; font-size: 15px;">종족탐험대: 민족을 소개 받고 체험하는 종족탐험대~! 야외활동</span><br/>
        <br/>

        <span style="color: #70c6fd;">종족셀러브레이션</span><br/>
        <span style="color: #efefef; font-size: 15px;">모든 민족이 하나님께 예배드리는 날을 소망하며 믿음으로 한민족 한민족을 주님 앞으로 초청하고 함께 예배합니다.</span><br/>
        <br/>

        <span style="color: #70c6fd;">종족입양식</span><br/>
        <span style="color: #efefef; font-size: 15px;">한 교회가 한 민족을 품으며 기도하는 시간, 하나님의 마음으로 민족을 품어요~! </span>
      </div>
    </div> <!-- .row -->
	</div>
</div>

<div class="container" style="margin-top:35px;">
	<div class="row">
    <div class="col-sm-6 col-xs-12">
      <h2 style="margin-top: 5px; font-size: 24px;">신청비 안내</h2>
      <table style="width: 85%; border: 0; border-collapse: collapse;" border="0" cellspacing="1" cellpadding="3">
        <thead>
            <tr bgcolor="#fba012">
              <td style="border: 0; border-right: 1px solid #d67b16; text-align: center; padding:8px;"></td>
              <td style="border: 0; border-right: 1px solid #d67b16; text-align: center; padding:8px;">
                <span style="color: #343434; font-size: 12px; letter-spacing: -1px;">1차 마감</span><br/>
                <span style="color: #83190b; font-weight: bold; font-size: 16px;"><span style="font-family: 'Oswald';">12/7</span></span>
              </td>
              <td style="border: 0; border-right: 1px solid #d67b16; text-align: center; padding:8px;">
                <span style="color: #343434; font-size: 12px; letter-spacing: -1px;">2차 마감</span><br/>
                <span style="color: #83190b; font-weight: bold; font-size: 16px;"><span style="font-family: 'Oswald';">12/21</span></span>
              </td>
              <td style="border: 0; border-right: 0; text-align: center; padding:8px;">
                <span style="color: #343434; font-size: 12px; letter-spacing: -1px;">3차 마감</span><br/>
                <span style="color: #83190b; font-weight: bold; font-size: 16px;"><span style="font-family: 'Oswald';">1/4</span></span>
              </td>
							<td style="border: 0; border-right: 0; text-align: center; padding:8px;">
                <span style="color: #343434; font-size: 12px; letter-spacing: -1px;">캠프당일</span><br/>
                <span style="color: #83190b; font-weight: bold; font-size: 16px;"><span style="font-family: 'Oswald';">1/13</span></span>
              </td>
            </tr>
        </thead>
        <tbody>
          <tr style="background-color: #fff;" bgcolor="#fff">
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle; padding:8px;"><span style="font-family: 'Oswald';">개인/단체<span></td>
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle; padding:8px;"><span style="font-family: 'Oswald';">74,000원</span></td>
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle; padding:8px;"><span style="font-family: 'Oswald';">79,000원</span></td>
            <td style="border: 0; border-right: 0; text-align: center; vertical-align: middle; padding:8px;"><span style="font-family: 'Oswald';">84,000원</span></td>
						<td style="border: 0; border-right: 0; text-align: center; vertical-align: middle; padding:8px;"><span style="font-family: 'Oswald';">84,000원</span></td>
          </tr>

          <tr style="background-color: #fff;" bgcolor="#fff">
            <td style="border: 0; border-right: 1px solid #e1e1e1; text-align: center; vertical-align: middle; padding:8px;"><span style="font-family: 'Oswald';">교사<span></td>
            <td style="border: 0; text-align: center; vertical-align: middle; padding:8px;" colspan="3"><span style="font-family: 'Oswald';">61,000원</span></td>
          </tr>
        </tbody>
      </table>
      <p style="font-size: 12px;">
        * 등록일은 참가비 입금 날자를 기준으로 합니다.<br/>
        * 캠프에 참가하시는 개인/단체는 모두 참가비가 동일합니다.<br/>
        * 단체할인 적용(따로 연락을 주세요)<br/>
        &nbsp;&nbsp;  ㄱ.한 교회에 출석하는 10인 이상일 때, 11번째 어린이가 무료입니다.<br/>
        &nbsp;&nbsp;  ㄴ.어린이 최대 10명당 교사 1명 필수<br/>
      </p>
    </div>

    <div class="col-sm-6 col-xs-12">
      <h2 style="margin-top: 5px; font-size: 24px;">입금</h2>
      <p style="font-size: 12px;">
        * 국민은행  763601-04-098576 예금주 : 전문인국제***(어린이캠프)<br/>
        (인터콥 내 다른 계좌가 많으니 계좌 번호를 정확히 확인 후 입금해주세요.)<br/>
        * 입금자명: 개인- 예)서울손연재 / 단체- 예)세광교회<br/>
        * 입금하신 후, 070-8787-6554~5 / interkids-vs@hanmail.net로 확인해주세요.<br/>
        <br/>
        * 단체교회일 경우 등록인원대로 입금하시고, 추가 인원 등록 시 최초 등록일을 기준으로 추가 입금<br/>
        * 단체교회가 분납할 경우 최초 50%이상 입금해주시고, 추후 남은 금액을 입금<br/>
      </p>
    </div>
	</div> <!-- .row -->
</div> <!-- .container -->

<div class="container" style="margin-top:35px;">
	<div class="row">
    <div class="col-sm-6 col-xs-12">
      <h2 style="margin-top: 5px; font-size: 24px;">환불</h2>
      <p style="font-size: 12px;">
        * 1/4 까지 취소 시 전액 환불해 드립니다.<br/>
        * 1/5 ~ 캠프전날까지 취소 시 50%를 감하고 환불해 드립니다.<br/>
        * 캠프 당일 취소 시 환불되지 않습니다.<br/>
        * 신청된 인원을 기준으로 행사의 물품, 식대, 숙박비용이 지출되므로 이점 양해 부탁드립니다<br/>
        <br/>
        * 메일(interkids-vs@hanmail.net)을 통해 환불 신청을 하시고 성명, 교회이름, 연락처, 간단한 이유, 환불금액, 통장계좌번호(은행명, 예금주)를 기록해 주세요.<br/>
        * 환불은 캠프를 마친 이 후에 이루어지며, 환불신청은 캠프 전날까지 이메일 신청한 취소자까지 환불 가능합니다.<br/>
        * 인원 변동 시 바로 연락해 주세요.<br/>
      </p>
    </div>

    <div class="col-sm-6 col-xs-12">
      <h2 style="margin-top: 5px; font-size: 24px;">열방센터 오시는 길</h2>
      <p></p>
      <ul style="font-size: 13px;">
        <li style="font-family: 'Nanum Barun Gothic';">자차이용시: 화서 IC나와 보은 방향으로 좌회전 후 약 4Km내려오시면 우측에 전문인국제협력단(열방센터)표지판이 있습니다.</li>
        <li style="font-family: 'Nanum Barun Gothic';">KTX오송역에서 열방센터까지 픽업차량 이용가능합니다. (KTX서울역→오송역 45분 소요, 오송역→열방센터 약 50분 소요)</li>
      </ul>
      <img src="{{ url_for('static', filename='common/img/btjcenter_map.png') }}" alt="열방센터 오시는 길" style="max-width:100%" />
    </div>
	</div>
</div>
{% endblock content %}
