{% extends 'page.html' %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h2>단체 신청</h2>
  </div>
  <div class="col-xs-12 col-sm-6">
    <form class="form" role="form" id="form" action="#" method="POST">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td><label for="groupid">단체 아이디</label></td>
            <td colspan="3">{{ group.groupid }}</td>
          </tr>
          <tr>
            <td><label for="pwd">비밀번호</label></td>
            <td colspan="3"><input type="password" placeholder="변경하려면 입력하세요..." name="pwd" id="pwd" size="12"/></td>
          </tr>
          <tr>
            <td><label for="pwd2">비밀번호 확인</label></td>
            <td colspan="3"><input type="password" name="pwd2" id="pwd2" size="12"/></td>
          </tr>

          <tr>
            <td><label for="name">단체 이름</label></td>
            <td colspan="3"><input type="text" name="name" id="name" value="{{ group.name }}" size="12"/></td>
          </tr>

          <tr>
            <td><label for="leadername">담당자 이름</label></td>
            <td colspan="3"><input type="text" name="leadername" id="leadername" value="{{ group.leadername }}" size="12"/></td>
          </tr>

          <tr>
            <td><label for="leadercontact">담당자 연락처</label></td>
            <td colspan="3"><input type="text" name="leadercontact" id="leadercontact" value="{{ group.leadercontact }}" size="12"/></td>
          </tr>

          <tr>
            <td><label for="leaderjob">담당자 직업</label></td>
            <td colspan="3"><input type="text" name="leaderjob" id="leaderjob" value="{{ group.leaderjob }}" size="12"/></td>
          </tr>
          <tr>
            <td><label for="area_idx">등록지부</label></td>
            <td colspan="3">
              <select name="area_idx" id="area_idx">
                <option value="">선택하세요</option>
                {% for area in area_list %}
                <option value="{{ area.idx }}" {% if area.idx == group.area_idx %} selected {% endif %}>{{ area.name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="memo">남기고싶은 말</label></td>
            <td colspan="3"><textarea name="memo" id="memo" rows="6" cols="20">{{ group.memo }}</textarea></td>
          </tr>
          <tr>
            <td colspan="4"><p style="text-align:center"><input type="button" onclick="submit_form()" class="btn btn-default" value="수정 완료"/></p></td>
          </tr>
        </table>
      </div>
      <input type="hidden" name="campidx" id="campidx" value="{{ campidx }}"/>
    </form>
  </div>
</div>
{% endblock%}

{% block script %}
  <script src="{{ url_for('static', filename='js/reg-group-edit.js') }}"></script>
{% endblock %}
